/* @import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";  */
.container-demo {
  background: white;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.container-anuncio {
  width: 100%;
  height: 260px;
  margin-bottom: 0;
  padding: 2px 2px;
  margin-top: 20px;
}

.container-left {
  float: left;
  width: 18%;
}

.container-right {
  width: 82%;
  float: right;
  padding: 0px 21px;
}

.container-right h1 {
  margin-top: 0px !important;
}

.parrafo-left {
  text-align: left;
  margin-bottom: 0.7rem !important;
}

.btn-standar {
  margin-right: 2px;
  margin-bottom: 3px;  
}

img {
  max-width: 100% !important;
  max-height: 100%;
}

.myButton:hover {
  background-color: #fa25a5;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  /* for use on default inline elements like span */
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn-sm {
  margin-right: 2px;
}


@media (min-width: 312px) and (max-width: 418px) {
  .container-left {
    float: none;
    width: 100%
  }

  .container-right {
    width: 100%;
    float: none;
  }

  .container-anuncio {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 2px 2px;
    margin-top: 20px;
  }
}


.container-dashboard {
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong {
  font-weight: 500;
}

a,
a:hover,
a:focus {
  color: #f35b3f;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 26px;
}

img {
  max-width: 100%;
}

/* 
::-moz-selection {
  background: #f35b3f;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #f35b3f;
  color: #fff;
  text-shadow: none;
} */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;

}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

.texto-danger {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.categorias-anuncio label {
  text-align: left;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  cursor: pointer;
}

.categorias-anuncio .categoria {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #E8E8E8;
  color: #303030;
  line-height: 15px;
  font-size: 12px;
  height: auto;
  width: 21.7%;
  padding: 0.5% 1%;
  margin: 0.5%;
  width: calc(32% - 1%);
  padding: calc(9px) calc(8px) calc(8px) calc(8px);
  margin: calc(4px);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.categorias-anuncio label.checked,
.categorias-anuncio span.checked {
  color: white !important ;
  background-color: #0072C6;
}


.categorias-anuncio .tc_valores {
  display: inline;
}

.categorias-anuncio input {
  height: 0;
  width: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

p {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/***** Top menu *****/

.navbar {
  padding-top: 10px;
  background: #333;
  background: rgba(51, 51, 51, 0.3);
  border: 0;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.navbar.navbar-no-bg {
  background: none;
}

ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-inverse ul.navbar-nav li .li-text {
  opacity: 0.8;
}

.navbar-inverse ul.navbar-nav li a {
  display: inline;
  padding: 0;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: #fff;
  outline: 0;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li .li-social a {
  margin: 0 5px;
  font-size: 28px;
  vertical-align: middle;
}

.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus {
  border: 0;
  color: #f35b3f;
}

.navbar-brand {
  width: 162px;
  /* background: url(../img/logo.png) left center no-repeat; */
  text-indent: -99999px;
}


/***** Top content *****/

.top-content {
  padding: 40px 0 170px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.form-box {
  padding-top: 40px;
}

.f1 {
  padding: 25px;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.f1 h3 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.f1-steps {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.f1-progress {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

.f1-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #f35b3f;
}

.f1-step {
  position: relative;
  float: left;
  width: 16.33%;
  padding: 0 5px;
}

.f1-step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  background: #ddd;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
  background: #fff;
  border: 1px solid #f35b3f;
  color: #f35b3f;
  line-height: 38px;
}

.f1-step.active .f1-step-icon {
  width: 48px;
  height: 48px;
  margin-top: 0;
  background: #f35b3f;
  font-size: 22px;
  line-height: 48px;
}

.f1-step p {
  color: #ccc;
}

.f1-step.activated p {
  color: #f35b3f;
}

.f1-step.active p {
  color: #f35b3f;
}

.f1 fieldset {
  display: block;
  text-align: left;
}

.f1-buttons {
  text-align: right;
}

.f1 .input-error {
  border-color: #f35b3f;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2 !important;
  color: #fff !important;
  background-color: #0072C6 !important;
  border-color: #0072C6 !important;
  /* background-color: #f39 !important;
  border-color: #F3A !important; */
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

  .navbar {
    padding-top: 0;
  }

  .navbar.navbar-no-bg {
    background: #333;
    background: rgba(51, 51, 51, 0.9);
  }

  .navbar-brand {
    height: 60px;
    margin-left: 15px;
  }

  .navbar-collapse {
    border: 0;
  }

  .navbar-toggle {
    margin-top: 12px;
  }

  .top-content {
    padding: 40px 0 110px 0;
  }

}

@media (max-width: 415px) {

  h1,
  h2 {
    font-size: 32px;
  }

  .f1 {
    padding-bottom: 20px;
  }

  .f1-buttons button {
    margin-bottom: 5px;
  }
}
/* Retina-ize images/icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* logo */
  .navbar-brand {
    /* background-image: url(../img/logo@2x.png) !important; */
    background-repeat: no-repeat !important;
    background-size: 162px 36px !important;
  }

}
