<div id="content">
    <div class="bloque bloque_login bloque_restablecer_password">
        <span class="titulo">Nueva contraseña</span>
        <p class="descripcion">Escoge una contraseña de 6 a 15 caracteres.</p>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="password" class="form-control form-control-sm" name="password"
                    value="" placeholder="Contraseña" maxlength="50" autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="password" class="form-control form-control-sm" name="password_2"
                    value="" placeholder="Repetir contraseña" maxlength="50"
                    autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input id="acceder" type="submit" class="btn btn-primary" value="Aceptar">
            </div>
        </div>
    </div>
</div>