<div id="content">
    <div class="bloque bloque_login bloque_restablecer_password">
        <span class="titulo">Nueva contraseña</span>
        <p class="descripcion">Escoge una contraseña de 6 a 15 caracteres.</p>
        <form [formGroup]='formEscogerPassword' (ngSubmit)="ClickEscogerPassword()" novalidate>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="password" [formControl]="txt_passwordnuevoCtrl" class="form-control form-control-sm"
                        name="password" value="" placeholder="Contraseña" autocomplete="off">
                    <div *ngIf="txt_passwordnuevoCtrl.invalid && (txt_passwordnuevoCtrl.dirty || isSubmitted)"
                        class="text-danger">
                        <div *ngIf="txt_passwordnuevoCtrl.errors.required">
                            Se requiere passsword.
                        </div>
                        <div *ngIf="txt_passwordnuevoCtrl.errors.minlength">
                            El nombre debe tener al menos 6 caracteres.
                        </div>
                        <div *ngIf="txt_passwordnuevoCtrl.errors.maxlength">
                            El nombre no debe exceder los 15 caracteres.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="password" [formControl]="txt_passwordconfirmarCtrl"
                        class="form-control form-control-sm" name="password_2" value="" placeholder="Repetir contraseña"
                        autocomplete="off">
                    <div *ngIf="txt_passwordconfirmarCtrl.invalid && (txt_passwordconfirmarCtrl.dirty || isSubmitted)"
                        class="text-danger">
                        <div *ngIf="txt_passwordconfirmarCtrl.errors.required">
                            Se requiere passsword.
                        </div>
                        <div *ngIf="txt_passwordconfirmarCtrl.errors.minlength">
                            El nombre debe tener al menos 6 caracteres.
                        </div>
                        <div *ngIf="txt_passwordconfirmarCtrl.errors.maxlength">
                            El nombre no debe exceder los 15 caracteres.
                        </div>                       
                    </div>             
                    <div *ngIf="(txt_passwordconfirmarCtrl.invalid && (txt_passwordconfirmarCtrl.dirty || isSubmitted) || formEscogerPassword.errors?.mismatch)" class="text-danger">                    
                        <div *ngIf="txt_passwordconfirmarCtrl.errors || formEscogerPassword.errors?.mismatch">
                            La contraseña no coincide
                        </div>
                    </div>                        
                </div>               
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Aceptar">
                </div>
            </div>
        </form>
    </div>
</div>