<div class="bloque">
  <span class='titulo'>Top Anuncios</span>
  <hr />
  <p class="descripcion">Haz más visible tu anuncio, haciendo que <strong>aparezca en la parte superior</strong> de la
    página.</p>
  <div id="productos" class="productos">
    <p class="paso"><span>Paso 1:&nbsp;&nbsp;</span>Selecciona los días.</p>
    <div class="destacados"></div>
    <div>
      <div class="producto" id="TOP{{prodPlanSubida.numero_dias_activo}}"
        [attr.data-codigo-producto]="prodPlanSubida.id_producto"
        *ngFor="let prodPlanSubida of listProductoSubirAutomatico"><span
          class="dias">{{prodPlanSubida.numero_dias_activo}} d&iacute;as<span class="desde">Tu anuncio empezar&aacute; a
            mostrarse en la
            secci&oacute;n TOP ahora , empezando a contar los {{prodPlanSubida.numero_dias_activo}} d&iacute;as a partir
            de mañana d&iacute;a
            <strong>19/01/2020</strong>.</span></span><span class="precio_tachado"></span><span class="precio">S/.
          {{prodPlanSubida.mt_monto}}</span><span class="precio_unitario">S/.
          {{(prodPlanSubida.mt_monto/prodPlanSubida.numero_dias_activo) | number:'0.0-2'}} / d&iacute;a</span><span
          class="seleccionar">Contratar</span><input type="hidden" name="ID_PRODUCTO"
          value="a4d022a741c5748106ecdce6df0a6c52"></div>
    </div>
  </div>
  <div id="top_desde"></div>
  <div id="formas_pago">
    <p class="paso"><span>Paso 2:&nbsp;&nbsp;</span>Realizar pago.</p>
    <p id="coste_total" class="coste">Precio final:&nbsp;&nbsp;<span class="precio"><span id="precio"></span> <span
          id="precio_descuento"></span></span>
      <div class="error" id="error_forma_pago"><i class="material-icons"></i><span></span></div>

      <!--<div id="condiciones_content">
        <div class="capa_checkbox">
          <input type="hidden" id="acepto_terminos_condiciones" name="acepto_terminos_condiciones" value="0"
            data-value="0" data-alt-value="1" data-checked-value="1"><span class="icon_checkbox_box"><i
              class="material-icons icon_checkbox "
              id="icon_checkbox_acepto_terminos_condiciones">check_box_outline_blank</i></span><span
            class="icon_checkbox_text">Acepto los <span id="about-textos-legales#terminosCondiciones">Términos y
              Condiciones</span>.</span>
          <div class="error" id="error_acepto_terminos_condiciones"><i class="material-icons">error</i><span></span>
          </div>
        </div>
      </div>-->

      <div id='pagar'>
        <div class="forma_pago">
          <!--<form action="/top-anuncios-ok/wk5mn" method="post" autocomplete="off">
            <input type="hidden" name="ANUNCIO" value="wk5mn" autocomplete="off" />
            <input type="hidden" name="PRODUCTO" value="" autocomplete="off" />
            <input type="hidden" name="DATA" value="" autocomplete="off" />
            <input type="hidden" name="DATE" value="2020/01/19" autocomplete="off" />-->
          <button type="button" (click)="modalPagar()" class="btn btn-danger">Pagar</button>
          <!--</form>-->
        </div>
      </div>
  </div>
</div>