<!--============================================================-->
    <!--==========================Filtros===========================-->
    <!--============================================================-->


<div class="cd-filter" [ngClass]="status ? 'filter-is-visible' : ''">
    <form *ngIf="fromGenerales" [formGroup]='fromGenerales' (ngSubmit)='save()'>
        <div class="cd-filter-block">
            <div class="block-buttons">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type='submit' class="btn btn-secondary">Aplicar</button>
                    <button type="button" class="btn btn-secondary" (click)="Limpiar()">Limpiar</button>
                </div>
            </div>
        </div>
        <div class="cd-filter-block">
            <h4>Buscar</h4>
            <div class="cd-filter-content">
                <input type="search" class="form-control form-control form-control-sm" [formControl]="txt_nombre_fichaCtrl" placeholder="Ingrese filtro de busqueda">
            </div>
        </div>
        <!-- cd-filter-block -->
        <div class="cd-filter-block">
            <h4>Distritos</h4>
            <ul class="cd-filter-content cd-filters list">
                <div class="categorias-anuncio">
                    <div class="tc_valores">
                        <label formArrayName="ListDistrito" *ngFor="let order of fromGenerales.controls.ListDistrito['controls']; let i = index" [ngClass]="{'checked': ListDistrito[i].flag, '': ListDistrito[i].flag}" class="categoria ">
                            <input type="checkbox" class="chk_categoria"
                                (change)="onChangeDistrito(ListDistrito[i].val_valor, $event.target.checked)"
                                [id]="'check_distrito_'+ListDistrito[i].val_valor" [formControlName]="i" />
                            {{ListDistrito[i].tx_descripcion}}
                        </label>
                    </div>
                </div>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Tipo de Servicios</h4>
            <ul class="cd-filter-content cd-filters list">
                <div class="categorias-anuncio">
                    <div class="tc_valores">
                        <label *ngFor="let order of fromGenerales.controls.ListTipoServicio['controls']; let i = index" formArrayName="ListTipoServicio" [ngClass]="{'checked': ListTipoServicio[i].flag, '': ListTipoServicio[i].flag}" class="categoria " [for]="'check_tiposervicios_'+ListTipoServicio[i].val_valor">
                            <input type="checkbox" class="chk_categoria"
                                [id]="'check_tiposervicios_'+ListTipoServicio[i].val_valor"
                                (change)="onChangeTipoServicio(ListTipoServicio[i].val_valor, $event.target.checked)"
                                [formControlName]="i" />
                            {{ListTipoServicio[i].tx_descripcion}}</label>
                    </div>
                    <div *ngIf="fromGenerales.controls.ListTipoServicio.invalid" class="text-danger text-xs-left text-sm-left">
                        Por favor seleccione por lo menos un tipo de servicio
                    </div>
                </div>
            </ul>
        </div>
        <div class="cd-filter-block">
            <h4>Lugar de Atencion</h4>
            <ul class="cd-filter-content cd-filters list">
                <div class="categorias-anuncio">
                    <div class="tc_valores">
                        <label *ngFor="let order of fromGenerales.controls.ListLugarAtencion['controls']; let i = index" formArrayName="ListLugarAtencion" [ngClass]="{'checked': ListLugarAtencion[i].flag, '': ListLugarAtencion[i].flag}" class="categoria " [for]="'check_lugarAtencion_'+ListLugarAtencion[i].val_valor">
                            <input type="checkbox" class="chk_categoria"
                                [id]="'check_lugarAtencion_'+ListLugarAtencion[i].val_valor"
                                (change)="onChangeLugarAtencion(ListLugarAtencion[i].val_valor, $event.target.checked)"
                                [formControlName]="i" />
                            {{ListLugarAtencion[i].tx_descripcion}}
                        </label>
                    </div>
                </div>
            </ul>
        </div>
        <div class="cd-filter-block">
            <div class="block-buttons">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type='submit' class="btn btn-secondary">Aplicar</button>
                    <button type="button" class="btn btn-secondary" (click)="Limpiar()">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
    <a href="javascript:void(0)" (click)="onCloseClick()" class="cd-close">Close</a>
</div>

<a (click)="onFilterClick()" class="cd-filter-trigger cursor" [ngClass]="status ? 'filter-is-visible' : ''">
    <span class="fa fa-search" aria-hidden="true"></span> Buscar
</a>