ol,
ul {
    list-style: none;
    padding: 2px 20px !important;
}
a {
    text-decoration: none !important;
}
label {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #888 !important;
}

.is-open .placeholder a {
    /* reduces the opacity of the placeholder on mobile when the menu is open */
    opacity: .4;
}


.cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: auto;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
    -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #f35b3f;
    z-index: 2;
}
.cd-filter form {
    padding: 70px 20px;
}
.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
    /* font-size: 1.3rem; */
    text-align: center;
    background: #e44a2d;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
    background: #e44a2d;
}
.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
    opacity: 1;
}
@media only screen and (min-width: 1170px) {
    .cd-filter {
        width: 20%;
    }
    .cd-filter form {
        padding: 70px 10%;
    }
}
.cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 95px;
    overflow: hidden;
    color: white !important;
    white-space: nowrap;
    z-index: 3;
    padding: 0px 12px 0px 12px;
    background: #f35b3f;
    /* position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;    
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url("../../../../assets/cd-icon-filter.svg") no-repeat center center;
    z-index: 3; */
}
.cd-filter-trigger:hover {
    color: white;
}
.cd-filter-trigger.filter-is-visible {
    pointer-events: none;
}
@media only screen and (min-width: 1170px) {
    .cd-filter-trigger {
        /* width: auto;
        left: 2%;
        text-indent: 0;
        color: #9a9a9a;
        text-transform: uppercase;        
        font-weight: 700;
        padding-left: 24px;
        background-position: left center;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s; */
        width: auto;
        background: #f35b3f;
        color: white !important;
        text-indent: 0;
        text-transform: uppercase;
        font-weight: 700;
        padding-right: 30px;
        padding-left: 24px;
        background-position: left center;
        transition: color .3s;
    }
    .no-touch .cd-filter-trigger:hover {
        color: #f35b3f;
    }
    .cd-filter-trigger.filter-is-visible,
    .cd-filter-trigger.filter-is-visible:hover {
        color: #ffffff;
    }
}
/* --------------------------------   
  xcustom form elements   
  -------------------------------- */
.cd-filter-block {
    margin-bottom: 1.6em;
}
.cd-filter-block h4 {
    /* filter block title */
    text-align: left !important;
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: 1.3rem; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
    color: #f35b3f;
}
.cd-filter-block h4::before {
    /* arrow */
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url("../../../../assets/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block .list li {
    position: relative;
    margin-bottom: .1em;
    text-align: left !important;
}
.cd-filter-block .list li:last-of-type {
    margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
    padding-left: 24px;
    /* font-size: 1.4rem; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: .1rem !important;
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0;
}
.cd-filter-block input,
.cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
    /* check mark - hidden */
    display: none;
}
.cd-filter-block .checkbox-label::after {
    /* check mark style for check boxes */
    width: 16px;
    height: 16px;
    left: 0;
    background: url("../../../../assets/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
    border-radius: 50%;
}
.cd-filter-block .radio-label::after {
    /* check mark style for radio buttons */
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    left: 5px;
}
.cd-filter-block input[type=radio]:checked+label::before,
.cd-filter-block input[type=checkbox]:checked+label::before {
    border-color: #f35b3f;
    background-color: #f35b3f;
}
.cd-filter-block input[type=radio]:checked+label::after,
.cd-filter-block input[type=checkbox]:checked+label::after {
    display: block;
}
@-moz-document url-prefix() {
    /* hide custom arrow on Firefox - select element */
    .cd-filter-block .cd-select::after {
        display: none;
    }
}
.w-10 {
    width: 10% !important
}
/*=========================Filtro===================*/
categorias-anuncio label {
    text-align: left;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    cursor: pointer;
}
.categorias-anuncio .categoria {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #E8E8E8;
    color: #303030;
    line-height: 15px;
    font-size: 12px;
    height: auto;
    width: 21.7%;
    padding: 0.5% 1%;
    margin: 0.5%;
    width: calc(30% - 1%);
    padding: calc(6px) calc(6px) calc(3px) calc(4px);
    margin: calc(4px);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
}
.block-buttons {
    position: relative;
}
.block-buttons .btn-group {
    width: 100%;
}
.block-buttons button {
    width: 50%;
}
.categorias-anuncio label.checked,
.categorias-anuncio span.checked {
    color: white !important;
    background-color: #0072C6;
}
.categorias-anuncio .tc_valores {
    display: inline;
}
.categorias-anuncio input {
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.list {
    padding: 2px 2px !important;
}
.cursor{
    cursor: pointer;
}