<!--<<script src="assets/subir-automatico.js"></script>-->

<!--<header id="header">-->
<!--<div id="cabecera">-->
<!--googleoff: all-->
<!--<div id='cabecera_sup_gen' class='cabecera_sup'>
            <div id="div_logo">
               <a href="/" id="link_home"><img id="logo" src="https://www.photokinesiologas.com/sl/gfx/logo_pkpe.png"
                     alt="Photokines" /></a>
            </div>
            
         </div>-->
<!--<div id='cabecera_sub_buscar' class='cabecera_sub'>
            <a id="login" href="/control" title="Panel de control"><img
                  src="https://www.photokinesiologas.com/sl/gfx/key.svg" alt="Panel de control" /></a><a id="publicar"
               class="material-icons" href="/publicar" title="Anúnciate GRATIS">&#xE254;</a>
            <div class="navegacion navegacion_about">
               <div class="navegacion_titulo material-icons">menu</div>
               <div class="navegacion_menu">
                  <ul class="drop">
                     <li class="about"><span id="about-mis-anuncios">Mis anuncios</span></li>
                     <li class="about"><span id="about-textos-legales">Textos Legales</span></li>
                     <li class="about"><span id="about-contactar">Contactar</span></li>
                  </ul>
               </div>
            </div>
         </div>
         googleon: all-->
<!--</div>-->
<!--</header>-->
<main class="cd-main-content">
   <app-header></app-header>

   <div id="content">
      <div class="bloque bloque_anuncio_prev">
         <a [routerLink]="" class="anuncio_prev">
            <span class="col1"><img class="img-85x85" src="{{dataSubirAutomatico.foto}}" /></span>
            <span class="col2 mayu-primer-letra-text">
               <span class="titulo">{{dataSubirAutomatico.titulo}}</span>
               <span class="texto">{{dataSubirAutomatico.textPresentacion}}</span>
            </span></a>
      </div>

      <router-outlet></router-outlet>

      <div class="bloque bloque_footer">Truvalia Global Classifieds OOD<br />Iskar 4, 1000 Sofia, Bulgaria</div>
   </div>
</main>