<main class="cd-main-content">
   <app-header></app-header>

   <div id="content">
      <div class="bloque bloque_anuncio_prev">
         <a [routerLink]="" class="anuncio_prev">
            <span class="col1"><img class="img-85x85" src="{{dataSubirAutomatico.foto}}" /></span>
            <span class="col2 mayu-primer-letra-text">
               <span class="titulo">{{dataSubirAutomatico.titulo}}</span>
               <span class="texto">{{dataSubirAutomatico.textPresentacion}}</span>
            </span></a>
      </div>

      <router-outlet></router-outlet>

      <div class="bloque bloque_footer">Truvalia Global Classifieds OOD<br />Iskar 4, 1000 Sofia, Bulgaria</div>
   </div>
</main>