<div class="container-fluid contact-form">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="contact-image">
                <img src="assets/rocket_contact.png" alt="rocket_contact" />
            </div>
            <form [formGroup]='formContactar' (ngSubmit)="contactar()" novalidate>
                <h3>Contactar</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu Nombre *" required
                                [formControl]="txt_nombreCtrl" />
                            <div *ngIf="txt_nombreCtrl.invalid && (txt_nombreCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_nombreCtrl.errors.required">
                                    Se requiere el nombre.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu Email *" required
                                [formControl]="txt_emailCtrl" />
                            <div *ngIf="txt_emailCtrl.invalid && (txt_emailCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_emailCtrl.errors.required">
                                    Se necesita que se ingrese el email.
                                </div>
                                <div *ngIf="txt_emailCtrl.errors.pattern">
                                    Email ingresado no es valido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu Asunto *" required
                                [formControl]="txt_asuntoCtrl" />
                            <div *ngIf="txt_asuntoCtrl.invalid && (txt_asuntoCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_asuntoCtrl.errors.required">
                                    Se requiere el asunto.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tu Teléfono *" required
                                [formControl]="txt_telefonoCtrl" />
                            <div *ngIf="txt_telefonoCtrl.invalid && (txt_telefonoCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_telefonoCtrl.errors.required">
                                    Se requiere el teléfono.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContactSubmit" value="Enviar Mensaje" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Tu Mensaje *"
                                style="width: 100%; height: 150px;" required [formControl]="txt_mensajeCtrl"></textarea>
                            <div *ngIf="txt_mensajeCtrl.invalid && (txt_mensajeCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_mensajeCtrl.errors.required">
                                    Se requiere el mensaje.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>