<table class="newsletter" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <table id="paddings-table" class="newsletter" cellpadding="20" cellspacing="0" width="680"
                    align="center">
                    <tbody>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" height="20">
                                    <tbody>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table id="foto-portada" cellpadding="0" cellspacing="0" height="100%" width="640"
                                    border="0" bgcolor="#FFFFFF" style="padding:15px; background-color: #FFFFFF">
                                    <tbody>
                                        <tr>
                                            <td width="610" valign="top">
                                                <p><span class="titulo"
                                                        style="font-size:25px !important;font-weight: normal;color: #CA1E25;display: block;margin-bottom: 19px;">Acceso
                                                        Panel de control</span>Hola,<br>
                                                    <br>
                                                    Te enviamos este email porque has solicitado obtener acceso a tu
                                                    panel de control en Photokines.<br>
                                                    <br>
                                                    Si no has sido tú, puedes ignorar este mensaje, tu contraseña no ha
                                                    cambiado.<br>
                                                    <br>
                                                    Si has sido tú, haz click en el siguiente botón para establecer una
                                                    nueva contraseña:<br>
                                                    <a
                                                        href="https://www.photokinesiologas.com/control/escoger-password/ad849bed5431a6252674e23adf82fae210792e5c"><img
                                                            src="https://www.photokinesiologas.com/sl/gfx/btn-escoger_password_es.png"
                                                            height="27" width="152" border="0" alt="Escoger contraseña"
                                                            style="display: block;"></a><br>
                                                    <br>
                                                    Si tienes cualquier duda, puedes contactar con nosotros respondiendo
                                                    este mismo email.<br>
                                                    <br>
                                                    Saludos.
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>