<div class="modal-body" *ngIf="detalleDelAnuncio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="row">
                    <div class="col-12 d-block d-sm-none">
                        <div class="card w-100">
                            <img class="img-thumbnail w-100 h-100"
                                src="{{detalleDelAnuncio.txt_imagen_prensetancion }}">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h4 text-dark font-weight-bold text-left">
                                    {{detalleDelAnuncio.txt_nombre_ficha }} {{detalleDelAnuncio.txt_telefono_1 }}</p>
                                <div class="row">
                                    <div class="col-lg-6 mt-0 text-left text-secondary h6">
                                        <span>Lima Metropolitana</span>
                                        <span>-</span>
                                        <span>{{detalleDelAnuncio.txt_descripcion_lugar_servicio_distrito.split(';')[0] }}</span>
                                        <span></span><span id='anuncio_zona'></span><br />
                                        <span>{{detalleDelAnuncio.txt_nombre_ficha }}</span>
                                        <span>| {{detalleDelAnuncio.int_edad }} años</span>
                                        <span></span><br /><span>29/06/2019 12:00
                                            am</span>
                                        <br />
                                        <a href="{{detalleDelAnuncio.txt_web }}"
                                            class="text-muted font-weight-bold"><span>Visita mi página</span></a>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="btn-group btn-group-lg btn-group-horizontal">
                                            <a href='tel:{{detalleDelAnuncio.txt_telefono_1}}'
                                                class="btn btn-large btn-primary rounded-0">
                                                <i class="fas fa-phone-alt mr-1"></i>
                                                <span
                                                    class="font-weight-bold">{{detalleDelAnuncio.txt_telefono_1}}</span>
                                            </a>
                                            <a href='tel:{{detalleDelAnuncio.txt_telefono_1}}'
                                                class="btn btn-large btn-success rounded-0"><i
                                                    class="fab fa-whatsapp mr-1"></i>
                                                <span class="font-weight-bold">WhatsApp</span></a>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-4 cursor-pointer" data-target="#compartir"
                                                data-toggle="collapse">
                                                <i class='fa fa-share-alt text-secondary'></i>
                                                <span class="small ml-1 text-secondary">Compartir</span>
                                            </div>
                                            <div class="col-4 cursor-pointer">
                                                <i class='fa fa-star text-primary'></i>
                                                <span class="small ml-1 text-secondary">Favoritos</span>
                                            </div>
                                            <div class="col-4 cursor-pointer">
                                                <i class='far fa-hand-pointer text-danger'></i>
                                                <span class="small ml-1 text-secondary">Denunciar</span>
                                            </div>
                                            <div class="col-12">
                                                <a class="btn btn-success" href="#" role="button">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                                <a class="btn btn-primary" href="#" role="button">
                                                    <i class="fab fa-telegram-plane"></i>
                                                </a>
                                                <a class="btn btn-success" href="#" role="button">
                                                    <i class="fab fa-line"></i>
                                                </a>
                                                <a class="btn btn-primary" href="#" role="button">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                                <a class="btn btn-danger" href="#" role="button">
                                                    <i class="fab fa-google-plus-square"></i>
                                                </a>
                                                <a class="btn btn-primary" href="#" role="button">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </div>
                                            <!--                                         <p>
                                                <button type="button" class="btn btn-outline-primary"
                                                    (click)="">
                                                    Toggle
                                                </button>
                                            </p>
                                            <div id="collapseExample">
                                                <div class="col-12">
                                                    You can collapse this card by clicking Toggle
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h5 text-dark text-left">{{detalleDelAnuncio.txt_presentacion }}</p>
                                <!-- <p class="h5 text-dark text-left">Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Eum, porro
                                    pariatur accusantium voluptatem omnis recusandae consequuntur nemo eius
                                    sit beatae quibusdam corrupti
                                    non, natus tempore rerum velit consequatur dolores officiis.</p>
                                <p class="h5 text-dark text-left">Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Eum, porro
                                    pariatur accusantium voluptatem omnis recusandae consequuntur nemo eius
                                    sit beatae quibusdam corrupti
                                    non, natus tempore rerum velit consequatur dolores officiis.</p>
                                <p class="h5 text-dark text-left">Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit.</p> -->
                                <p class="h5 text-error text-left text-danger">No olvides mencionarme que viste mi
                                    anuncio en <a class="text-error font-weight-bold text-danger"
                                        href='https://www.photokinesiologas.com'>Photokines</a>.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-lg-flex">
                        <div class="card col-lg-6 col-sm-12">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Datos Generales
                                </p>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Edad</span>
                                    <span class="float-right">{{detalleDelAnuncio.int_edad}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">País de origen</span>
                                    <span class="float-right">{{detalleDelAnuncio.tx_pais_origen}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Estudios</span>
                                    <span class="float-right">{{detalleDelAnuncio.tx_estudio}}</span>
                                </div>
                                <!--     
                                    <p class="h3 text-dark font-weight-bold text-left">
                                        Horario
                                    </p>                           
                                    <div class="clearfix">
                                    <span class="float-left">Lunes a Domingo</span>
                                    <span class="float-right">11:00 am - 8:00 pm</span>
                                </div> -->
                            </div>
                        </div>

                        <div class="card col-lg-6 col-sm-12">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Tarifas
                                </p>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">30 Minutos</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_30min}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">45 Minutos</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_45min}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">1 hora</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_1hora}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">1 hora y media</span>
                                    <span
                                        class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_1hora_media}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">2 hora</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_2hora}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">3 hora</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_3hora}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Salidas</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_salidas}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Toda la noche</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_tiempo_toda_noche}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Viajes</span>
                                    <span class="float-right">{{detalleDelAnuncio.dbl_costo_x_viaje}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="">Forma de Pago</span>
                                    <div class="col-12 mt-2">
                                        <a *ngFor="let item of detalleDelAnuncio.txt_forma_pago.split(','); let i = index"
                                            href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            {{item.trim()}}
                                        </a>
                                    </div>
                                    <!-- <span class="float-right">{{detalleDelAnuncio.txt_forma_pago}}</span> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Apariencia
                                </p>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Color de Cabello</span>
                                    <span class="float-right">{{detalleDelAnuncio.tx_color_cabello}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Color de Ojos</span>
                                    <span class="float-right">{{detalleDelAnuncio.tx_color_ojos}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Estatura</span>
                                    <span class="float-right">{{detalleDelAnuncio.tx_estatura}}</span>
                                </div>
                                <div class="clearfix text-secondary h6">
                                    <span class="float-left">Peso en Kg</span>
                                    <span
                                        class="float-right">{{detalleDelAnuncio.txt_medidas_busto_cintura_cadera}}</span>
                                </div>
                                <div class="text-secondary h5 text-capitalize">
                                    <span>{{detalleDelAnuncio.txt_descripcion_extra_apariencia}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    {{detalleDelAnuncio.txt_imagen_galeria.split(';').length  }} Fotos
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-1"
                                        *ngFor="let item of detalleDelAnuncio.txt_imagen_galeria.split(';'); let i = index">
                                        <img class="w-100 h-100 img-thumbnail" src="{{item.trim()}}" data-id="2"
                                            alt="Abigaíl 925982064 - Kinesióloga en Los Olivos">
                                    </div>
                                    <!-- <div class="col-6">
                                        <img class="w-100 h-100"
                                            src="http://192.168.0.14/fileserver/uploads_fichas/2198/23.jpg" data-id="2"
                                            alt="Abigaíl 925982064 - Kinesióloga en Los Olivos">
                                    </div>
                                    <div class="col-6 mt-4">
                                        <img class="w-100 h-100"
                                            src="http://192.168.0.14/fileserver/uploads_fichas/2199/21.jpg" data-id="2"
                                            alt="Abigaíl 925982064 - Kinesióloga en Los Olivos">
                                    </div>
                                    <div class="col-6 mt-4">
                                        <img class="w-100 h-100"
                                            src="http://192.168.0.14/fileserver/uploads_fichas/2192/4.jpg" data-id="2"
                                            alt="Abigaíl 925982064 - Kinesióloga en Los Olivos">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                     
                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Sobre mí
                                </p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <a *ngFor="let item of detalleDelAnuncio.tx_descripcion_servicios_ofrece.split(';'); let i = index"
                                            href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            {{item.trim()}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Mis servicios
                                </p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <a *ngFor="let item of detalleDelAnuncio.tx_descripcion_servicios_ofrece.split(';'); let i = index"
                                            href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            {{item.trim()}}
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-secondary h5 text-capitalize">
                                            <span>{{detalleDelAnuncio.tx_descripcion_extra_servicio}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    Lugar del encuentro
                                </p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <a *ngFor="let item of detalleDelAnuncio.tx_descripcion_lugar_atencion.split(';'); let i = index"
                                            href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            {{item.trim()}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card w-100">
                            <div class="card-body bg-white">
                                <p class="h3 text-dark font-weight-bold text-left">
                                    <i class="fa fa-hand-pointer-o"></i> Denunciar anuncio
                                </p>
                                <p class="h6 text-dark text-left">Infórmanos sobre posibles incidencias en
                                    el anuncio de esta
                                    kinesióloga.</p>
                                <button type="button" class="btn btn-primary float-left font-weight-bold">Mostrar
                                    formulario</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-sm-none">
                        <div class="card w-100">
                            <img class="img-thumbnail" src="{{detalleDelAnuncio.txt_imagen_prensetancion }}">
                            <div class="card-body bg-white">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 d-none d-sm-block">
                <div class="row">
                    <div class="col-12">
                        <div class="card row">
                            <img class="img-fluid" src="{{detalleDelAnuncio.txt_imagen_prensetancion}}">
                            <div class="card-body bg-white">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <a *ngFor="let item of detalleDelAnuncio.txt_descripcion_lugar_servicio_distrito.split(';'); let i = index"
                                            href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            {{item.trim()}}
                                        </a>
                                        <!--                                         
                                            <a href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            Interesante
                                        </a>
                                        <a href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            Todos los juegos
                                        </a>
                                        <a href="#" class="btn btn-sm bg-dark text-white float-left m-1">
                                            Todos los juegos
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="card row">
                            <div class="card-body bg-white">
                                <p class="h6 text-dark font-weight-bold text-left">
                                    Haz más visible tu anuncio
                                </p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <button type="button" class="col-6 btn btn-danger font-weight-bold">Subir
                                            automático</button>
                                        <button type="button" class="col-5 offset-1 btn btn-danger font-weight-bold">Top
                                            Anuncios</button>
                                    </div>

                                    <div class="col-12">
                                        <button type="button" class="col-6 btn btn-danger font-weight-bold">Subir
                                            GRATIS</button>
                                        <button type="button"
                                            class="col-5 offset-1 btn btn-danger font-weight-bold">Certificar
                                            fotos</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>