<div class="col-sm-4">
  <div class="">
    <img src="https://i.pinimg.com/736x/e8/7f/f1/e87ff18fb1ea227b1eab4aa48c99d26d--naruto-sasuke-sakura-naruto-uzumaki.jpg"
      alt="Forest">
  </div>
</div>
<div class="col-sm-8">
  <div class="form-group form-group-sm">
    <p class="parrafo-left" for="tx_descripcion_extra_servicio">Nikita</p>
    <p>
      <strong class="rosa">ANTENCIÓN!</strong>
      <br>Al proceder a Borrar se eliminarán todas las estadisticas del anuncio así como cualqueir tipo de foto,video
      existente y relacionado al mismo.
    </p>
  </div>
  <div class="divider"></div>
  <div class="form-group form-group-sm">
    <button type="button" onclick="javascript:history.back();" class="btn btn-primary btn-xs  btn-block myButton">cancelar</button>
    <button type="button" id="btn_dar_baja" class="btn btn-primary btn-xs  btn-block myButton">Borrar</button>
  </div>
</div>
