<div class="container-demo">
  <div class="container-anuncio">
    <div class="container-left">
      <img class="img-thumbnail" src="https://i.pinimg.com/736x/e8/7f/f1/e87ff18fb1ea227b1eab4aa48c99d26d--naruto-sasuke-sakura-naruto-uzumaki.jpg"
        alt="Forest">
    </div>
    <div class="container-right">
      <h1 class="parrafo-left" for="tx_descripcion_extra_servicio">ssssssssssssssssss</h1>
      <p class="text-left">
        <strong class="rosa">ANTENCIÓN!</strong>
        <br>Al proceder a Borrar se eliminarán todas las estadisticas del anuncio así como cualqueir tipo de
        foto,video
        existente y relacionado al mismo.
      </p>
      <br>

      <div class="pull-left">
        <button type="button" class="btn btn-secondary  btn-sm" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="borra_anuncio()">Borrar</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>
