<div class="row">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover tabel-condensed table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Estado</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <div *ngIf="flagexistRegistro; then ocultarGrilla else mostrarGrilla"></div>
    </table>
    <ng-template #mostrarGrilla>
      <tbody>
        <tr>
          <td colspan="6">No Existen Registro..............</td>
        </tr>
      </tbody>
    </ng-template>
    <ng-template #ocultarGrilla>
      <tbody *ngFor="let result of listado">
        <tr class="{{result.id_estado_reg?'table-danger':''}}">
          <td>{{result.id}}</td>
          <td>{{result.txt_nombre_ficha}}</td>
          <td>{{result.txt_email}}</td>
          <td>{{ result.id_estado_reg?'Inactivo':'Activo'}}</td>
          <td><button class="btn btn-primary" disabled="{{result.id_estado_reg?'disabled':''}}" (click)="modalEditar(result.id)">Editar</button></td>
          <td><button class="btn btn-success" disabled="{{result.id_estado_reg?'disabled':''}}" (click)="darBaja(modalConfirmacion,result.cod_anuncio_encryptado)">Dar
              Baja</button></td>
        </tr>
      </tbody>
      <pagination [boundaryLinks]="true" [maxSize]="2" [itemsPerPage]="paginacion.ItemsPerPage" [totalItems]="paginacion.TotalItems"
        [(ngModel)]="paginacion.CurrentPage" (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="Primero" lastText="Ultimo"></pagination>
    </ng-template>

  </div>
</div>

<ng-template #modalConfirmacion>
  <div class="modal-body text-center">
    <p>Estas seguro dar de baja?</p>
    <button type="button" class="btn btn-default btn-sm" (click)="confirmarDarBaja()">Borrar</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="cancelarDarBaja()">Cancelar</button>
  </div>
</ng-template>