<div class="cd-tab-filter-wrapper">
    <div class="cd-tab-filter">
        <ul class="cd-filters">
            <li class="placeholder">
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
            </li>
            <li class="filter"><a class="selected" href="#0" data-type="all">Home</a></li>
            <li class="filter" data-filter=".color-1">
                <a routerLink="../panelcontrol" data-type="color-1">Panel Control</a>
            </li>
            <li class="filter" data-filter=".color-2">
                <a routerLink="../login" data-type="color-2">Login</a>
            </li>
        </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
</div> <!-- cd-tab-filter-wrapper -->