<div class="container-demo">
  <div class="container-anuncio">
    <div class="container-left">
      <img src="https://i.pinimg.com/736x/e8/7f/f1/e87ff18fb1ea227b1eab4aa48c99d26d--naruto-sasuke-sakura-naruto-uzumaki.jpg"
        alt="Forest">
    </div>
    <div class="container-right">
      <h1 class="parrafo-left" for="tx_descripcion_extra_servicio">BCP</h1>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Referencia: 6978</p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Este anuncio esta: <strong>Pendiente de Pago</strong>
      </p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">El anuncio ha sido visitado en los últimos días:
        0
        veces</p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Te han mandado a través del formulario de correo:
        0
        peticiones de contacto</p>

      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Modificar
        Anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Fotos
        del
        anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Videos
        del
        anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Estadisticas
        completas</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Dar
        de baja
        el anuncio</a>

    </div>
  </div>
  <div class="divider"></div>
  <div class="container-anuncio">
    <div class="container-left">
      <img src="https://i.pinimg.com/736x/e8/7f/f1/e87ff18fb1ea227b1eab4aa48c99d26d--naruto-sasuke-sakura-naruto-uzumaki.jpg"
        alt="Forest">
    </div>
    <div class="container-right">
      <h1 class="parrafo-left" for="tx_descripcion_extra_servicio">BCP</h1>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Referencia: 6978</p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Este anuncio esta: <strong>Pendiente de Pago</strong>
      </p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">El anuncio ha sido visitado en los últimos días:
        0
        veces</p>
      <p class="parrafo-left" for="tx_descripcion_extra_servicio">Te han mandado a través del formulario de correo:
        0
        peticiones de contacto</p>

      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Modificar
        Anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Fotos
        del
        anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Videos
        del
        anuncio</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Estadisticas
        completas</a>
      <a [routerLink]="['/DashboardAnuncion/misanuncios/darbaja']" class="btn btn-primary btn-xs btn-standar">Dar
        de baja
        el anuncio</a>

    </div>
  </div>
  <div class="divider"></div>
</div>
<router-outlet></router-outlet>
