<div class="container-demo">
  <div *ngFor="let anuncio of listaMisAnuncios">
    <div class="container-anuncio">
      <div class="container-left">
        <img class="img-thumbnail"
          src="https://i.pinimg.com/736x/e8/7f/f1/e87ff18fb1ea227b1eab4aa48c99d26d--naruto-sasuke-sakura-naruto-uzumaki.jpg"
          alt="Forest">
      </div>
      <div class="container-right">
        <h1 class="parrafo-left" for="tx_descripcion_extra_servicio">{{anuncio.txt_nombre_ficha}}</h1>
        <p class="parrafo-left" for="tx_descripcion_extra_servicio">Referencia: 6978</p>
        <p class="parrafo-left" for="tx_descripcion_extra_servicio">Este anuncio esta: <strong>Pendiente de
            Pago</strong>
        </p>
        <p class="parrafo-left" for="tx_descripcion_extra_servicio">El anuncio ha sido visitado en los últimos días:
          0
          veces</p>
        <p class="parrafo-left" for="tx_descripcion_extra_servicio">Te han mandado a través del formulario de correo:
          0
          peticiones de contacto</p>

        <button class="btn btn-primary btn-sm btn-standar" (click)="editarMiAnuncio(anuncio)">Modificar
          Anuncio</button>
        <button class="btn btn-primary btn-sm btn-standar">Fotos
          del
          anuncio</button>
        <button class="btn btn-primary btn-sm btn-standar">Videos
          del
          anuncio</button>
        <button class="btn btn-primary btn-sm btn-standar">Estadisticas
          completas</button>
        <button class="btn btn-primary btn-sm btn-standar" (click)="darBajaMiAnuncio(anuncio)">Dar
          de baja
          el anuncio</button>

      </div>
    </div>
    <br>
    <div class="divider"></div>
  </div>
</div>
<router-outlet></router-outlet>