<div class="bloque">
  <span class='titulo'>Subir automático</span>
  <hr />
  <p>Haz más visible tu anuncio, haciendo que <strong>periódicamente suba a la primera posición</strong> del listado.
  </p>
  <div id="productos" class="productos">
    <p class="paso"><span>Paso 1:&nbsp;&nbsp;</span>Escoge un plan de subidas.</p>
    <div class="destacados">
      <div
        [ngClass]="prodPlanSubida.posicion_plan_subida != 2 ? 'producto' : 'producto producto_recomendado seleccionado'"
        id="featured_{{prodPlanSubida.id_producto}}" *ngFor="let prodPlanSubida of listProductoPlanSubidas"
        [attr.data-codigo-producto]="prodPlanSubida.id_producto">
        <span class="recomendacion" *ngIf="prodPlanSubida.posicion_plan_subida == 2">Recomendado para tu ciudad</span>
        <span class="dias">
          <b>{{prodPlanSubida.numero_dias_activo}}</b> d&iacute;as<br /><b>{{prodPlanSubida.numero_subida_top}}</b>
          subidas/d&iacute;a
        </span>
        <span class="precio_tachado"></span>
        <span class="precio">S/. {{prodPlanSubida.mt_monto}}</span>
        <span class="precio_unitario">S/.
          {{(prodPlanSubida.mt_monto/prodPlanSubida.numero_dias_activo)/prodPlanSubida.numero_subida_top | number:'0.0-2'}}
          /
          subida</span>
        <span class="seleccionar">Contratar</span>
      </div>

      <div class="vermas"><span class="mas">mostrar más productos</span><span class="menos">mostrar menos
          productos</span></div>

    </div>

    <div class="masProductos">
      <div class="producto" id="prod{{prodPlanSubida.id_producto}}"
        *ngFor="let prodPlanSubida of listProductoSubirAutomatico"
        [attr.data-codigo-producto]="prodPlanSubida.id_producto">
        <span class="dias"><b>
            {{prodPlanSubida.numero_dias_activo}}
          </b> d&iacute;as<br /><b>
            {{prodPlanSubida.numero_subida_top}}
          </b> subidas/d&iacute;a</span><span class="precio_tachado"></span><span class="precio">
          S/.
          {{prodPlanSubida.mt_monto}}
        </span><span class="precio_unitario">
          S/.
          {{(prodPlanSubida.mt_monto/prodPlanSubida.numero_dias_activo)/prodPlanSubida.numero_subida_top | number:'0.0-2'}}
          / subida</span><span class="seleccionar">Contratar</span>
      </div>
    </div>
  </div>

  <div class="horas">
    <p class="paso"><span>Paso 2:&nbsp;&nbsp;</span>Configura cuándo subir.</p>
    <div class="horas_sms">Se realizará una subida cada hora a partir del momento que envíes el SMS.</div>
    <div class="horas_visa primer_dia">
      <span class="horas_titulo">Primer día</span>
      <input type="text" id="fecha_inicial_text" readonly />
      <input type="hidden" id="fecha_inicial" value="" autocomplete="off" />
      <input type="hidden" id="fecha_hora" value="" autocomplete="off" />
      <div class="error" id="error_SUBIR_AUTOMATICO_FECHA_INI"><i class="material-icons">&#xE000;</i><span></span></div>
    </div>
    <div class="horas_visa ultimo_dia">
      <span class="horas_titulo">Último día</span>
      <input type="text" id="fecha_final_text" readonly />
      <input id="fecha_final" type="hidden" value="">
    </div>
    <div class="horas_visa">
      <span for="24h" class="horas_titulo">Las 24h del día</span><label><input type="checkbox" id="24h"
          autocomplete="off" /><span class="check material-icons-before"></span></label>
    </div>
    <div class="horas_visa">
      <span class="horas_titulo">Primera subida</span>
      <span class="col">
        <select id="hora_inicio" autocomplete="off">
          <option></option>
          <option *ngFor="let horaSubida of listHorariosSubida" value="{{horaSubida.tx_valor}}">
            {{horaSubida.tx_descripcion}}</option>
        </select>
      </span>
      <div class="error" id="error_SUBIR_AUTOMATICO_INI"><i class="material-icons">&#xE000;</i><span></span></div>
    </div>
    <div class="horas_visa">
      <span class="horas_titulo">Última subida</span>
      <span class="col">
        <select id="hora_fin" autocomplete="off">
          <option></option>
          <option *ngFor="let horaSubida of listHorariosSubida" value="{{horaSubida.tx_valor}}">
            {{horaSubida.tx_descripcion}}</option>
        </select>
      </span>
      <div class="error" id="error_SUBIR_AUTOMATICO_FIN"><i class="material-icons">&#xE000;</i><span></span></div>
    </div>
  </div>

  <div id="formas_pago">
    <p class="paso"><span>Paso 3:&nbsp;&nbsp;</span>Realizar pago.</p>
    <p id="coste_total" class="coste">Precio final:&nbsp;&nbsp;<span class="precio"><span id="precio"></span> <span
          id="precio_descuento"></span></span>
      <!--<table id="selector_formas_pago" cellpadding="0" cellspacing="0">
        <tr class="forma_pago forma_pago_transferencia">
          <td><input type="radio" name="FORMA_PAGO" value="zhefitaelqibod27fm5svbhjo53bqfdc" autocomplete="off" /></td>
          <td><span>BCP Agentes</span></td>
        </tr>
        <tr class="forma_pago forma_pago_transferencia">
          <td><input type="radio" name="FORMA_PAGO" value="b8fuxi31xkoxrd7jn6xztwf68g2x6wy3" autocomplete="off" /></td>
          <td><span>BCP Banca Móvil </span></td>
        </tr>
        <tr class="forma_pago forma_pago_transferencia">
          <td><input type="radio" name="FORMA_PAGO" value="38q9ib5ez0866g4k5lhgtqwiy9m3zenm" autocomplete="off" /></td>
          <td><span>BBVA Transferencia</span></td>
        </tr>
        <tr class="forma_pago forma_pago_logo forma_pago_dimoco">
          <td><input type="radio" name="FORMA_PAGO" value="ghoqj4e8xouarq3ap5tilwrwc58sysh1" autocomplete="off" /></td>
          <td><img src="https://www.photokinesiologas.com/sl/gfx/pagodimoco2.png" /><span class="tarjetas"><img
                src="https://www.photokinesiologas.com/sl/gfx/pagovisa.png" /><img
                src="https://www.photokinesiologas.com/sl/gfx/pagovisaelectron.png" /><img
                src="https://www.photokinesiologas.com/sl/gfx/pagomastercard.png" /><img
                src="https://www.photokinesiologas.com/sl/gfx/pagomaestrocard.png" /></span><span
              class="datos_forma_pago"><input type="hidden" name="forma_pago_dimoco" value="Creditcard" /></span></td>
        </tr>
      </table>
      <div class="error" id="error_forma_pago"><i class="material-icons"></i><span></span></div>
      <div id="condiciones_content">
        <div class="capa_checkbox">
          <input type="hidden" id="acepto_terminos_condiciones" name="acepto_terminos_condiciones" value="0"
            data-value="0" data-alt-value="1" data-checked-value="1"><span class="icon_checkbox_box"><i
              class="material-icons icon_checkbox "
              id="icon_checkbox_acepto_terminos_condiciones">check_box_outline_blank</i></span><span
            class="icon_checkbox_text">Acepto los <span id="about-textos-legales#terminosCondiciones">Términos y
              Condiciones</span>.</span>
          <div class="error" id="error_acepto_terminos_condiciones"><i class="material-icons">error</i><span></span>
          </div>
        </div>
      </div>-->
      <div id='pagar'>
        <div class="forma_pago">
          <!--<form action="/subir-ok/wk5mn" method="post" autocomplete="off">
            <input type="hidden" name="ANUNCIO" value="wk5mn" autocomplete="off" />
            <input type="hidden" name="PRODUCTO" value="" autocomplete="off" />
            <input type="hidden" name="DATA" value="" autocomplete="off" />
            <input type="hidden" name="SUBIR_AUTOMATICO_INI" value="0:00" autocomplete="off" /><input type="hidden"
              name="SUBIR_AUTOMATICO_FIN" value="23:00" autocomplete="off" /><input type="hidden"
              name="SUBIR_AUTOMATICO_24H" value="Y" autocomplete="off" /><input type="hidden"
              name="SUBIR_AUTOMATICO_FECHA_INI" value="" autocomplete="off" /><input type="hidden"
              name="SUBIR_AUTOMATICO_DIAS_SEMANA" value="1111111" autocomplete="off" />-->
          <!--class="submit"-->
          <button type="button" (click)="modalPagar()" class="btn btn-danger">Pagar</button>
          <!--</form>-->
        </div>
        <div *ngIf="mensajePago">
          <br />
          <br />
          <!--alert-dismissible fade show-->
          <div class="alert alert-success" role="alert" id="success-alert">
            <strong>Hola {{nombre}}!</strong> {{mensajePago}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>