<div id="content">
    <div class="bloque bloque_login bloque_recordar_password">
        <span class="titulo">Restablecer contraseña</span>
        <p class="descripcion">Indica el email del anuncio y te enviaremos un enlace para que puedas establecer una
            nueva contraseña.</p>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="text" class="form-control form-control-sm" placeholder="Email" maxlength="50"
                    autocomplete="off">
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row">
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </div>
    </div>
</div>