<div id="content">
    <form [formGroup]='formGenerarPassword' (ngSubmit)="GenerarPassword()" novalidate class="landing_container">
        <div class="bloque bloque_login bloque_recordar_password">
            <span class="titulo">Restablecer contraseña</span>
            <p class="descripcion">Indica el email del anuncio y te enviaremos un enlace para que puedas establecer una
                nueva contraseña.</p>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="text" class="form-control form-control-sm" [formControl]="txt_emailGenerarPasswordCtrl"
                        placeholder="Email" maxlength="50">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group row">
                <div class="col-md-12">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </div>
        </div>
    </form>
</div>