categorias-anuncio label {
    text-align: left;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .categorias-anuncio .categoria {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #E8E8E8;
    color: #303030;
    line-height: 15px;
    font-size: 12px;
    height: auto;
    width: 21.7%;
    padding: 0.5% 1%;
    margin: 0.5%;
    width: calc(30% - 1%);
    padding: calc(6px) calc(6px) calc(3px) calc(4px);
    margin: calc(4px);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
  }
  
  .block-buttons {
    position: relative;
  }
  .block-buttons .btn-group {
    width: 100%;
  }
  
  .block-buttons button {
    width: 50%;
  }
  
  .categorias-anuncio label.checked,
  .categorias-anuncio span.checked {
    color: white !important;
    background-color: #0072C6;
  }
  
  
  .categorias-anuncio .tc_valores {
    display: inline;
  }
  
  .categorias-anuncio input {
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }

  .list{
    padding: 2px 2px !important;
  }