/* .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #00a1b2;
  font-weight: bold;
  font-size: 22px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

p {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}



.parrafo-alerta {
  color: #e00e0e;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;

}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .accordion-content {
    padding: 10px 3px;
  }
}

.text-danger {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

@media (min-width: 412px) and (max-width: 558px) {
  .text-right {
    text-align: left !important;
  }

  .categorias-anuncio .categoria {
    line-height: 5px;
    font-size: 10px;
    width: auto;
    padding: calc(9px) calc(8px) calc(8px) calc(8px);
    margin: calc(4px);
  }
} */
