<form [formGroup]='fromTarifa' (ngSubmit)='saveTarifa()' novalidate>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_30_minCtrl">30 Minutos</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_30_minCtrl" required type="text" id="txt_30_minCtrl"
          OnlyNumber="true" placeholder="" value="0">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_45_minCtrl">45 Minutos</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_45_minCtrl" required type="text" id="txt_45_minCtrl"
          OnlyNumber="true" value="0">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_1_horaCtrl">1 horaCtrl</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_1_horaCtrl" required type="text" id="txt_1_horaCtrl"
          OnlyNumber="true" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_1_30_horaCtrl">1 horaCtrl y media</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_1_30_horaCtrl" required type="text" id="txt_1_30_horaCtrl"
          OnlyNumber="true" value="0">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_2_horaCtrl">2 horaCtrls</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_2_horaCtrl" required type="text" id="txt_2_horaCtrl"
          OnlyNumber="true" value="0">
      </div>

    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_3_horaCtrl">3 horaCtrls</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_3_horaCtrl" required type="text" id="txt_3_horaCtrl"
          OnlyNumber="true" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_salidaCtrl">Salidas</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_salidaCtrl" required type="text" id="txt_salidaCtrl"
          OnlyNumber="true" value="0">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-right" for="txt_toda_nocheCtrl">Toda la noche</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_toda_nocheCtrl" required type="text" id="txt_toda_nocheCtrl"
          OnlyNumber="true" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_viajesCtrl">Viajes</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_viajesCtrl" required type="text" id="txt_viajesCtrl"
          OnlyNumber="true" value="0">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-right" for="formapago">Forma de Pago</label>
      <div class="col-sm-5">
        <div class="categorias-anuncio">
          <div class="tc_valores">
            <label formArrayName="ListFormaPago" class="categoria " [ngClass]="{'checked': ListFormaPago[i].flag, '': ListFormaPago[i].flag}"
              *ngFor="let order of fromTarifa.controls.ListFormaPago['controls']; let i = index">
              <input type="checkbox" class="chk_categoria" (change)="onChangeFormaPago(ListFormaPago[i].codigo, $event.target.checked)"
                [id]="'check_formapago_'+ListFormaPago[i].codigo" [formControlName]="i">
              {{ListFormaPago[i].descripcion}}
            </label>
          </div>
          <div *ngIf="fromTarifa.controls.ListFormaPago.invalid" class="text-danger">
            Por favor seleccione por lo menos una forma de pago
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-right " for="txt_descripcion_tarifa">Descripción</label>
      <div class="col-sm-5">
        <textarea class="form-control form-control-sm" id="txt_descripcion_tarifa" [formControl]="txt_descripcion_tarifasCtrl"
          rows="6" placeholder=""></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">Si necesitas aclarar algun otro aspecto sobre tus tarifas escríbelo aquí.</p>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-outline-rounded btn-default" (click)="btnAtras(fromTarifa)"> <span style="margin-right:10px;"
          class="glyphicon glyphicon-arrow-left"></span> Atras</button>

      <button class="btn btn-outline-rounded btn-info">
        Siguiente <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </div>


</form>
