<div class="container contact-form">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="contact-image">
                <img src="assets/user_login.svg" alt="rocket_contact" />
            </div>
            <form [formGroup]='formIngresar' (ngSubmit)="ingresar()" novalidate>
                <h3>Sign In</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email address *" required
                                [formControl]="txt_emailCtrl" />
                            <div *ngIf="txt_emailCtrl.invalid && (txt_emailCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_emailCtrl.errors.required">
                                    Se requiere el email.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password *" required
                                [formControl]="txt_passwordCtrl" />
                            <div *ngIf="txt_passwordCtrl.invalid && (txt_passwordCtrl.dirty || isSubmitted)"
                                class="text-danger text-xs-left text-sm-left">
                                <div *ngIf="txt_passwordCtrl.errors.required">
                                    Se requiere el password.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContactSubmit" value="Sign in" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>