<div id="content">
    <div class="bloque bloque_login ">
        <h1 class="titulo">Acceso Panel de control</h1>
        Hola,
        <br>
        <br>
        Te enviamos este email porque has solicitado obtener acceso a tu
        panel de control en GoloGolos.<br>
        <br>
        Si no has sido tú, puedes ignorar este mensaje, tu contraseña no ha
        cambiado.<br>
        <br>
        Si has sido tú, haz click en el siguiente botón para establecer una
        nueva contraseña:<br><br>
        <a
            href="#"><img
                src=""
                height="27" width="152" border="0" alt="Escoger contraseña"
                style="display: block;"></a><br>
        <br>
        Si tienes cualquier duda, puedes contactar con nosotros respondiendo
        este mismo email.<br>
        <br>
        Saludos.
    </div>
</div>
    