<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-demo">
        <!--*ngIf="fromGenerales" [formGroup]='fromGenerales' (ngSubmit)='save()' novalidate-->
        <form>
            <h1>Detalle Anuncio</h1>
            <div class="form-horizontal">

                <fieldset>
                    <legend>Datos de Contacto</legend>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label text-xs-left text-sm-left text-md-right" for="txt_nombre">Nombre</label>
                                    <div class="col-sm-5">
                                        <!--[formControl]="txt_nombre_fichaCtrl"-->
                                        <input class="form-control form-control-sm" type="text" required placeholder="Ingrese nombre">
                                        <!--<div *ngIf="txt_nombre_fichaCtrl.invalid && (txt_nombre_fichaCtrl.dirty || isSubmitted)" class="text-danger text-xs-left text-sm-left">
                          <div *ngIf="txt_nombre_fichaCtrl.errors.required">
                            Se requiere el nombre.
                          </div>
                          <div *ngIf="txt_nombre_fichaCtrl.errors.minlength">
                            El nombre debe tener al menos 4 caracteres.
                          </div>
                          <div *ngIf="txt_nombre_fichaCtrl.errors.maxlength">
                            El nombre no debe exceder los 15 caracteres.
                          </div>
                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-xs-left text-sm-left">el nombre que aparece en tu ficha</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label text-xs-left text-sm-left text-md-right " for="txt_telefono_1">Teléfono
                                        o
                                        Celular</label>
                                    <div class="col-sm-5">
                                        <!--[formControl]="txt_telefono_1Ctrl"-->
                                        <input class="form-control form-control-sm" type="text" id="txt_telefono_1"
                                            required placeholder="Ingrese Telefono 1">
                                        <!--<div *ngIf="txt_telefono_1Ctrl.invalid && (txt_telefono_1Ctrl.dirty || isSubmitted)" class="text-danger text-xs-left text-sm-left">
                          <div *ngIf="txt_telefono_1Ctrl.errors.required">
                            Se necesita que se ingrese el numero del telefono.
                          </div>
                          <div *ngIf="txt_telefono_1Ctrl.errors.pattern">
                            Número de telefono ingresado no es valido
                          </div>
                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-xs-left text-sm-left">tu teléfono de contacto</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label text-xs-left text-sm-left text-md-right " for="txt_telefono_2">Teléfono
                                        o
                                        Celular</label>
                                    <div class="col-sm-5">
                                        <!--[formControl]="txt_telefono_2Ctrl"-->
                                        <input class="form-control form-control-sm" required type="text" placeholder="Ingrese Telefono 2">
                                        <!--<div *ngIf="txt_telefono_2Ctrl.invalid && (txt_telefono_2Ctrl.dirty || isSubmitted)"
                                            class="text-danger text-xs-left text-sm-left">
                                            <div *ngIf="txt_telefono_2Ctrl.errors.required">
                                                Se necesita que se ingrese el numero del telefono.
                                            </div>
                                            <div *ngIf="txt_telefono_2Ctrl.errors.pattern">
                                                Número de telefono ingresado no es valido
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-xs-left text-sm-left">otro teléfono de contacto</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label text-xs-left text-sm-left text-md-right " for="txt_email">Email</label>
                                    <div class="col-sm-5">
                                        <!--[formControl]="txt_emailCtrl"-->
                                        <input class="form-control form-control-sm" type="text" required placeholder="Ejemplo: brillit.coqueta@gmail.com">
                                        <!--<div *ngIf="txt_emailCtrl.invalid && (txt_emailCtrl.dirty || isSubmitted)"
                                            class="text-danger text-xs-left text-sm-left">
                                            <div *ngIf="txt_emailCtrl.errors.required">
                                                Se necesita que se ingrese el email.
                                            </div>
                                            <div *ngIf="txt_emailCtrl.errors.pattern">
                                                Email ingresado no es valido
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-xs-left text-sm-left parrafo-alerta-rojo">
                                            IMPORTANTE !
                                            Tu dirección de email no será mostrada en el anuncio, pero debe ser válida
                                            para que poder
                                            contactarte.
                                            @*¿tienes email dónde contactarte?*@

                                        </p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label text-xs-left text-sm-left text-md-right " for="txt_web">Web</label>
                                    <div class="col-sm-5">
                                        <!--[formControl]="txt_webCtrl"-->
                                        <input class="form-control form-control-sm" type="text" placeholder="Ejemplo: https://www.google.com">
                                        <!--<div *ngIf="txt_webCtrl.invalid && (txt_webCtrl.dirty || isSubmitted)" class="text-danger text-xs-left text-sm-left">
                                            <div *ngIf="txt_webCtrl.errors.pattern">
                                                Url ingresada no es valido
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-xs-left text-sm-left">la URL de tu web, si tienes</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>

                <br>



                <div class="f1-buttons">
                    <button type='submit' class='btn btn-primary'>Guardar</button>
                </div>
            </div>
        </form>
    </div>

</div>