<form [formGroup]='fromContacto' (ngSubmit)='save()' novalidate>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-left text-md-right" for="txt_nombre">Nombre</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" required [formControl]="txt_nombre_fichaCtrl"
          placeholder="Ingrese nombre">
        <div *ngIf="txt_nombre_fichaCtrl.invalid && (txt_nombre_fichaCtrl.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="txt_nombre_fichaCtrl.errors.required">
            Se requiere el nombre.
          </div>
          <div *ngIf="txt_nombre_fichaCtrl.errors.minlength">
            El nombre debe tener al menos 4 caracteres.
          </div>
          <div *ngIf="txt_nombre_fichaCtrl.errors.maxlength">
            El nombre no debe exceder los 15 caracteres.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">el nombre que aparece en tu ficha</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-left text-md-right " for="txt_telefono_1">Teléfono
        o
        Celular</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_telefono_1" [formControl]="txt_telefono_1Ctrl"
          required placeholder="Ingrese Telefono 1">
        <div *ngIf="txt_telefono_1Ctrl.invalid && (txt_telefono_1Ctrl.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="txt_telefono_1Ctrl.errors.required">
            Se necesita que se ingrese el numero del telefono.
          </div>
          <div *ngIf="txt_telefono_1Ctrl.errors.pattern">
            Número de telefono ingresado no es valido
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">tu teléfono de contacto</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-left text-md-right " for="txt_telefono_2">Teléfono o Celular</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" [formControl]="txt_telefono_2Ctrl" required type="text" placeholder="Ingrese Telefono 2">
        <div *ngIf="txt_telefono_2Ctrl.invalid && (txt_telefono_2Ctrl.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="txt_telefono_2Ctrl.errors.required">
            Se necesita que se ingrese el numero del telefono.
          </div>
          <div *ngIf="txt_telefono_2Ctrl.errors.pattern">
            Número de telefono ingresado no es valido
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">otro teléfono de contacto</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-left text-md-right " for="txt_email">Email</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" [formControl]="txt_emailCtrl" required placeholder="Ejemplo: example.@gmail.com">
        <div *ngIf="txt_emailCtrl.invalid && (txt_emailCtrl.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="txt_emailCtrl.errors.required">
            Se necesita que se ingrese el email.
          </div>
          <div *ngIf="txt_emailCtrl.errors.pattern">
            Email ingresado no es valido
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="parrafo-alerta-rojo">
          IMPORTANTE !
          Tu dirección de email no será mostrada en el anuncio, pero debe ser válida para que poder contactarte.
          @*¿tienes email dónde contactarte?*@

        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label text-sm-left text-md-right " for="txt_web">Web</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" [formControl]="txt_webCtrl" placeholder="Ejemplo: https://www.ejemplo.com">
        <div *ngIf="txt_webCtrl.invalid && (txt_webCtrl.dirty || isSubmitted)" class="text-danger">
          <div *ngIf="txt_webCtrl.errors.pattern">
            Url ingresada no es valido
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">la URL de tu web, si tienes</p>
      </div>
    </div>
    <div class="f1-buttons">
      <button type='submit' class='btn btn-primary'>Siguiente</button>     
    </div>
  </div>
</form>