<div class="modal-body ">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 d-sx-none">
                <img style="max-width: 100%;width: 100%;height: auto;" src="{{foto}}">
                <div class="text-left text-secondary h6">
                    <p class="h4 text-dark font-weight-bold text-left"> {{titulo}}</p>
                    <div class="col-lg-12 mt-0 text-left text-secondary h6">
                        <!--<span>Lima Metropolitana</span>
                        <span> - </span>
                        <span>Cercado de Lima</span>
                        <span></span><span></span>
                        <br>
                        <span>segundo mike </span>
                        <span> | 19 años</span>-->

                        <div class="producto w-100"
                            id="featured_SU15X12">
                            <span class="dias" [innerHtml]="bodyProductSeleccionado.diasActivo">
                            </span>
                            <span class="precio_tachado"></span>
                            <span class="precio">{{bodyProductSeleccionado.precio}}</span>
                            <span class="precio_unitario">{{bodyProductSeleccionado.precioUnitario}}</span>
                            <span class="seleccionar" style="height: 25px;"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6" style="-webkit-box-shadow: -8px 2px 5px 1px rgba(235,230,235,1);
            -moz-box-shadow: -8px 2px 5px 1px rgba(235,230,235,1);
            box-shadow: -8px 2px 5px 1px rgba(235,230,235,1);">
                <div id="pay-invoice">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-center"> Pago</h2>
                        </div>
                        <hr>
                        <form id="form_pago" [formGroup]='formPago'>
                            <!-- <div class="form-group text-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-amex fa-2x"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
                                </ul>
                            </div> -->
                            <div class="form-group">
                                <label>Monto del pago</label>
                                <h2>{{montoPagar}}</h2>
                            </div>
                            <div class="form-group">
                                <label for="elemento-tarjeta" class="control-label">Número de Tarjeta</label>
                                <div id="elemento-tarjeta" class="form-control">
                                </div>
                                <!--<input id="elemento-tarjeta" required type="text" class="form-control"
                                    [formControl]="txt_numero_tarjetaCtrl" placeholder="Número de Tarjeta">-->
                                <!--<div *ngIf="txt_numero_tarjetaCtrl.invalid && (txt_numero_tarjetaCtrl.dirty || isSubmitted)"
                                    class="text-danger">
                                    <div *ngIf="txt_numero_tarjetaCtrl.errors.required">
                                        Se requiere número de tarjeta.
                                    </div>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label">Expiración</label>
                                        <!--<input id="cc-exp" name="cc-exp" type="tel" class="form-control "
                                            placeholder="Mes / Año">-->
                                        <div id="expiracion-tarjeta" class="form-control"></div>

                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="x_card_code" class="control-label">Código de seguridad</label>
                                    <div class="input-group">
                                        <!--<input id="x_card_code" name="x_card_code" type="tel" class="form-control"
                                            placeholder="CVC">-->
                                        <div id="cvc-tarjeta" class="form-control"></div>
                                        <div class="input-group-addon">
                                            <span class="fa fa-question-circle fa-lg" data-toggle="popover"
                                                data-container="body" data-html="true" data-title="Security Code"
                                                data-content="div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                                data-trigger="hover"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correo" class="control-label">Correo Electrónico</label>
                                <input id="correo" name="correo" type="text" class="form-control"
                                    placeholder="Correo Electrónico" formControlName="txt_email"
                                    [ngClass]="{ 'is-invalid': submitted && f.txt_email.errors }" maxlength="50">
                                <div *ngIf="submitted && f.txt_email.errors" class="invalid-feedback">
                                    <div *ngIf="f.txt_email.errors.required">Correo es requerido</div>
                                    <div *ngIf="f.txt_email.errors.invalidMsg">{{f.txt_email.errors.invalidMsg}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div [style.display]="mostrarError ? 'block' : 'none'" id="errores-tarjeta"
                                    class="ml-3 alert alert-danger" role="alert"></div>
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Pay {{montoPagar}}</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="col-xs-12 col-md-12">

    <div class="panel panel-default credit-card-box">
        <div class="panel-heading display-table">
            <div class="row display-tr">
                <h3 class="panel-title display-td"> Detalles del pago</h3>
                <div class="display-td">
                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form role="form" [formGroup]="formPago" id="form_pago" method="POST">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="nombre_completo">Nombre en la tarjeta</label>
                            <input type="text" class="form-control" id="nombre_completo"
                                formControlName="nombre_completo" name="nombre_completo" placeholder="Nombre Completo"
                                [ngClass]="{ 'is-invalid': submitted && f.nombre_completo.errors }" maxlength="50" />
                            <div *ngIf="submitted && f.nombre_completo.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre_completo.errors.required">Nombre Completo es requerido</div>
                                <div *ngIf="f.nombre_completo.errors.invalidMsg">{{f.nombre_completo.errors.invalidMsg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" class="form-control" id="correo" formControlName="correo" name="correo"
                                placeholder="Correo" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }"
                                maxlength="50" />
                            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                                <div *ngIf="f.correo.errors.required">Correo es requerido</div>
                                <div *ngIf="f.correo.errors.invalidMsg">{{f.correo.errors.invalidMsg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="telefono_celular">Teléfono Celular</label>
                            <input type="tel" class="form-control" id="telefono_celular"
                                formControlName="telefono_celular" name="telefono_celular"
                                placeholder="Teléfono Celular"
                                [ngClass]="{ 'is-invalid': submitted && f.telefono_celular.errors }" maxlength="9" />
                            <div *ngIf="submitted && f.telefono_celular.errors" class="invalid-feedback">
                                <div *ngIf="f.telefono_celular.errors.required">Teléfono es requerido</div>
                                <div *ngIf="f.telefono_celular.errors.invalidMsg">
                                    {{f.telefono_celular.errors.invalidMsg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="elemento-tarjeta">NUMERO TARJETA</label>
                            <div id="elemento-tarjeta" class="form-control">
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                            <label for="expiracion-tarjeta"><span class="hidden-xs">EXPIRACION</span><span
                                    class="visible-xs-inline">EXP</span> DATE</label>
                            <div id="expiracion-tarjeta" class="form-control"></div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                            <label for="cvc-tarjeta">CODIGO CVC</label>
                            <div id="cvc-tarjeta" class="form-control"></div>
                           
                        </div>
                    </div>
                </div>
             
                <div class="row">
                    <div [style.display]="mostrarError ? 'block' : 'none'" id="errores-tarjeta"
                        class="ml-3 alert alert-danger" role="alert"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-2">
                        <button class="subscribe btn btn-success btn-lg btn-block" type="submit">Pagar
                            S/.{{montoPagar}}</button>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <p class="payment-errors"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->