label{
    font-size: 12px;
}
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box label {
    display: block;
}

/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

/*Estilo para el productos seleccionado*/
.destacados .producto {
	font-size: 18px;
	width: calc(24% - 1px);
	max-width: 220px;
	vertical-align: bottom;
}

.producto_suelto,
.producto
{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: white;
	color: #0072C6;
	border: 1px solid #0072C6;
	border-radius: 5px;
	font-size: 17px;
	/*height: 60px;*/
	/*width: 130px;
	margin: 0 25px;
	margin-top: 30px;*/
	width: calc(17% - 2px);
	margin: 2% 2%;

	cursor: unset;

	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}
.producto_suelto {
	cursor: initial;
	border: 2px solid #0072C6;
	margin-top: 55px;
}

.producto_suelto .dias,
.producto .dias
{
	display: block;
	padding-top: 10px;
	margin-bottom: 5px;
}