.main-panel {
    height: 100px;
    overflow-y: scroll;
}

.masonryOptionsContainer {
    width: 93vw;
    float: right;
}

.container-buttom {
    width: 100%;
    padding: 10px;
    max-width: 1540px;
    text-align: center;
    margin: 0 auto;
}

.container-buttom>button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #CA1E25;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* margin: 50px; */
    font-size: 22px;
    font-weight: 700;
}

.content-item {
    display: inline-block;
    padding: 0.7em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: all 1s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 2px 2px #e8e7e7;
}

.titulo {
    display: block;
    font-size: 15px;
    line-height: 19px;
    padding: 0px 6px 0px 6px;
    color: #303030 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}


/* .resultados-fichas {
    overflow-y: scroll;
    height: 100%;
} */

.search-results {
    height: 100%;
}

#resultados-fichas,
#cabecera-main-content {
    position: relative;
    width: 100%;
    min-width: 94%;
    max-width: 94%;
    margin: 0 auto;
    float: right;
}

#cabecera-main-content h1 {
    font-size: 22px;
    margin: 0 0 10px 10px;
    color: #707070;
    display: inline-block;
}

#breadcrumbs {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    color: #707070;
}

#breadcrumbs ol {
    display: inline;
    margin: 0;
    padding: 0;
}

#breadcrumbs li {
    display: inline-block;
}

#breadcrumbs li:before {
    content: ">";
}

#breadcrumbs li:first-child:before {
    content: "";
}

#breadcrumbs li:first-child span {
    margin-left: 0!important;
}

#breadcrumbs span {
    margin: 0 10px;
}

#breadcrumbs a {
    color: #707070;
    text-decoration: none;
}

.categoria_noclick {
    color: #303030;
    background-color: #E8E9E9;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    font-family: Verdana;
    white-space: nowrap;
    padding: 3px 6px 4px 6px;
    border-radius: 3px;
    margin: 2px 2px 3px 3px;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: calc(100% - 6px);
    max-width: 182px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoria_noclick i {
    line-height: 16px;
    font-size: 16px;
    vertical-align: top;
    max-width: 16px;
    overflow: hidden;
}

.categoria_videos {
    color: #fff;
    background-color: #DB3B00 !important;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .masonry-item {
        width: 13%;
    }
    /* CSS */
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .masonry-item {
        width: 23%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .masonry-item {
        width: 30%;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .masonry-item {
        width: 38%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .masonry-item {
        width: 44%;
    }
}


/* 
@media screen and (max-width: 520px) {
    .masonry-item {
        width: 44%;
    }
} */


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */


/* @media (min-width: 320px) and (max-width: 480px) {
    
} */

@media screen and (max-width: 520px) {
    .masonry-item {
        width: 44%;
    }
}

@media screen and (max-width: 415px) {
    .masonry-item {
        width: 100%;
        padding: 12px;
    }
    .masonryOptionsContainer {
        width: 100vw;
    }
}