a {
    text-decoration: none !important;
}
/* --------------------------------   
  Main Components   
  -------------------------------- */
.cd-main-content {
    position: relative;
    min-height: 100vh;
}
.cd-main-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
    padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
    position: fixed;
    height: 100vh;
    overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed {
    position: fixed;
}
@media only screen and (min-width: 768px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 90px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-main-content.is-fixed .cd-gallery {
        padding-top: 100px;
    }
}
/* --------------------------------   
  xgallery   
  -------------------------------- */
.cd-gallery {
    padding: 0px 0%;
    width: 100%;
}
.cd-gallery li {
    margin-bottom: 1.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: none;
}
.cd-gallery li.gap {
    /* used in combination with text-align: justify to align gallery elements */
    opacity: 0;
    height: 0;
    display: inline-block;
}
.cd-gallery img {
    display: block;
    width: 100%;
}
.cd-gallery .cd-fail-message {
    display: none;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .cd-gallery {
        padding: 40px 3%;
    }
    .cd-gallery ul {
        text-align: justify;
    }
    .cd-gallery ul:after {
        content: "";
        display: table;
        clear: both;
    }
    .cd-gallery li {
        width: 48%;
        margin-bottom: 2em;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-gallery {
        padding: 0px 2%;
        float: right;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        transition: width 0.3s;
    }
    .cd-gallery li {
        width: 23%;
    }
    .cd-gallery.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%;
    }
}
.masonry {
    background: #fff;
    /* Masonry container */
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img {
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
}
.icons-fichas {
    position: relative;
    float: right;
    top: -82px;
    right: 3px;
    display: inline-grid;
}
.icons-fichas-info {
    background: #f100ffb5;
    padding: 3px 5px;
    text-align: center;
    margin-bottom: 2px;
}
.icons-fichas-player {
    background: #e21616b5;
    padding: 0px 5px;
    text-align: center;
    margin-bottom: 2px;
}
.block-ellipse-descripcion {
    padding: 3px 5px;
    font-family: Arial;
    font-size: 15px !important;
    max-width: 100%;
    overflow: hidden;
    text-align: justify !important;
    position: relative;
    line-height: 1.2em;
    max-height: 7.5em;
    padding-right: 16px;
}
.btn-small {
    text-decoration: none;
    color: #3375AF;
    background-color: #DEF2FC;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: 2px;
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }
}
.w-10 {
    width: 10% !important
}
.line-h-2 {
    line-height: 2em
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
    .block-ellipse-descripcion {
        font-size: 12px !important;
    }
}