  /* --------------------------------   
  xgallery   
  -------------------------------- */
  .cd-gallery {
    padding: 26px 5%;
    width: 100%;
  }
  .f1 {
    padding: 25px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
.container-demo {
  background: white;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.text-danger {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.container-anuncio {
  width: 100%;
  height: 260px;
  margin-bottom: 0;
  padding: 2px 2px;
  margin-top: 20px;
}

.container-left {
  float: left;
  width: 18%;
}

.container-right {
  width: 82%;
  float: right;
  padding: 0px 21px;
}

.container-right h1 {
  margin-top: 0px !important;
}

.parrafo-left {
  text-align: left;
  margin-bottom: 0.7rem !important;
}

.btn-standar {
  margin-right: 2px;
  margin-bottom: 3px;  
}

img {
  max-width: 100% !important;
  max-height: 100%;
}

.myButton:hover {
  background-color: #fa25a5;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  /* for use on default inline elements like span */
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn-sm {
  margin-right: 2px;
}


@media (min-width: 312px) and (max-width: 418px) {
  .container-left {
    float: none;
    width: 100%
  }

  .container-right {
    width: 100%;
    float: none;
  }

  .container-anuncio {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 2px 2px;
    margin-top: 20px;
  }
}


.container-dashboard {
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong {
  font-weight: 500;
}

a,
a:hover,
a:focus {
  color: #f35b3f;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 26px;
}

img {
  max-width: 100%;
}


.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;

}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

.texto-danger {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.categorias-anuncio label {
  text-align: left;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  cursor: pointer;
}

.categorias-anuncio .categoria {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #E8E8E8;
  color: #303030;
  line-height: 15px;
  font-size: 12px;
  height: auto;
  width: 21.7%;
  padding: 0.5% 1%;
  margin: 0.5%;
  width: calc(32% - 1%);
  padding: calc(9px) calc(8px) calc(8px) calc(8px);
  margin: calc(4px);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.categorias-anuncio label.checked,
.categorias-anuncio span.checked {
  color: white !important ;
  background-color: #0072C6;
}


.categorias-anuncio .tc_valores {
  display: inline;
}

.categorias-anuncio input {
  height: 0;
  width: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

p {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

