<div class="cd-main-content">
<app-header-shared></app-header-shared>
  <section class="cd-gallery">
    <div class="container">
      <div class="list-group">
        <div class="form-horizontal">
          <div class="form-group">
            <div role="form" class="f1">
              <h3>Registre su Anuncio Gratis</h3>
              <app-navbar-tab></app-navbar-tab>
              <fieldset>
                <router-outlet></router-outlet>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>