<div id="content">
    <div class="bloque bloque_login bloque_recordar_password">
        <div>
            <span class="titulo">Restablecer contraseña</span>
            <p class="descripcion">Indica el email del anuncio y te enviaremos un enlace para que puedas establecer una
                nueva contraseña.</p>

            <span class="field"><input type="text" name="recordar_email" id="recordar_email" value=""
                    placeholder="Email" maxlength="50" autocomplete="off">
                <span class="error" id="error_recordar_email"><i class="material-icons"></i><span></span></span></span>

            <input id="acceder" type="submit" value="Enviar">
        </div>
    </div>
</div>