<div class="form-horizontal">
  <div class="form-group row">
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <div id="divfileinput">
          <span class="fa fa-camera fa-4x"></span>
          <input type="file" class="input-upload" accept="image/*" (change)="displayPhoto($event)" />
        </div>
        <!-- <img [src]="imageSrc" alt="" /> -->
      </div>

    </div>
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <span class="fa fa-camera fa-4x"></span>
        <input type="file" class="input-upload" accept="image/*" /> <!-- <span>Upload</span> -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <span class="fa fa-camera fa-4x"></span>
        <input type="file" class="input-upload" accept="image/*" /> <!-- <span>Upload</span> -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <span class="fa fa-camera fa-4x"></span>
        <input type="file" class="input-upload" accept="image/*" /> <!-- <span>Upload</span> -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <span class="fa fa-camera fa-4x"></span>
        <input type="file" class="input-upload" accept="image/*" /> <!-- <span>Upload</span> -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="Uploadbtn">
        <span class="fa fa-camera fa-4x"></span>
        <input type="file" class="input-upload" accept="image/*" /> <!-- <span>Upload</span> -->
      </div>
    </div>
  </div>
</div>


<button class="btn btn-outline-rounded btn-default" (click)="btnAtras()"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span>
  Atras</button>
