<div class="container">
  <!--Primera Seccion-->
  <h4>Datos de Contacto:</h4>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_nombre">Nombre</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_nombre" placeholder="Ingrese nombre">
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">el nombre que aparece en tu ficha</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_telefono_1">Teléfono o Celular</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" rel="txtTooltip" title="**Your Title**" data-toggle="tooltip" type="text"
          id="txt_telefono_1" placeholder="Ingrese Telefono 1">
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">tu teléfono de contacto</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_telefono_2">Teléfono o Celular</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_telefono_2" placeholder="Ingrese Telefono 2">
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">otro teléfono de contacto</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_email">Email</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_email" placeholder="Ejemplo: brillit.coqueta@gmail.com">
      </div>
      <div class="col-sm-4">
        <p class="form-control-sm-static">
          IMPORTANTE !
          Tu dirección de email no será mostrada en el anuncio, pero debe ser válida para que poder contactarte.
          @*¿tienes email dónde contactarte?*@

        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_web">Web</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_web" placeholder="Ejemplo: https://www.google.com">
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">la URL de tu web, si tienes</p>
      </div>
    </div>
  </div>
  <h4>Datos Generales:</h4>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_edad">Edad</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_edad"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">elige tu edad</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_pais">País de origen</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_pais"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿dónde te has criado?</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_estudios">Estudios</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_estudios"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">nivel de estudios realizados</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_presentacion">Presentación</label>
      <div class="col-sm-5">
        <textarea class="form-control form-control-sm" id="txt_presentacion" rows="12" placeholder="Explica un poco más sobre ti, cómo eres, que te gusta, tus aficiones y habilidades...."></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">Explica un poco más sobre ti. Aquí puedes presentarte a los
          futuros clientes,
          descríbete un poco mejor, explica cómo eres, que te gusta, tus aficiones y habilidades. ¿Porqué deben
          llamarte? Cualquier otra cosa que creas es importante, esta es tu oportunidad!</p>
      </div>
    </div>
  </div>


  <!--Segunda Seccion-->
  <h4>Apariencia:</h4>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_pelo">color de pelo</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_pelo"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">el color de tu pelo</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_ojos">color de ojos</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_ojos"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">el color de tus ojos</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_estatura">estatura</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_estatura"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿cual es tu altura en centímetros?</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_peso">peso</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="cbo_peso"></select>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿cual es tu peso en Kg?</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="cbo_estudios">Medidas (Busto-Cintura-Caderas)</label>
      <div class="col-sm-5" style="display: inline-flex;">
        <input class="form-control form-control-sm" type="text" id="txt_medidas_busto" placeholder="busto">-
        <input class="form-control form-control-sm" type="text" id="txt_medidas_cintura" placeholder="cintura">-
        <input class="form-control form-control-sm" type="text" id="txt_medidas_cadera" placeholder="cadera">
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿Cuales son tus medidas?</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_descripcion">Descripcion</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="txt_descripcion" rows="6" placeholder=""></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">Si quieres explicar algun otro dato relevante sobre tu apariencia física aquí
          puedes describirte mejor.</p>
      </div>
    </div>
  </div>
  <!--Tercera Seccion-->
  <h4>Tarifas:</h4>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_30_min">30 Minutos</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_30_min" value="0">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_45_min">45 Minutos</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_45_min" value="0">
      </div>

    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_1_hora">1 Hora</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_1_hora" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_1_30_hora">1 Hora y media</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_1_30_hora" value="0">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_2_hora">2 Horas</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_2_hora" value="0">
      </div>

    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_3_hora">3 Horas</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_3_hora" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_salida_hora">Salidas</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_salida_hora" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_toda_noche">Toda la noche</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_toda_noche" value="0">
      </div>

    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_viajes">Viajes</label>
      <div class="col-sm-5">
        <input class="form-control form-control-sm" type="text" id="txt_viajes" value="0">
      </div>

    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_viajes">Forma de Pago</label>
      <div class="col-sm-5" id="check_forma_pago">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="checkbox disabled">
          <label>
            <input type="checkbox" value="" disabled>
            Option two is disabled
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_descripcion_tarifa">Descripcion</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="txt_descripcion_tarifa" rows="6" placeholder=""></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">Si necesitas aclarar algun otro aspecto sobre tus tarifas escríbelo aquí.</p>
      </div>
    </div>
  </div>

  <h4>Servicios:</h4>
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small">Distrito</label>
      <div class="col-sm-5" id="check_distrito">
        <div class="categorias-anuncio">
          <div class="tc_valores" *ngFor="let data of emails">
            <input type="checkbox" class="chk_categoria" [id]="'publicar_categoria_'+data.codigo" (change)="onChange(data.codigo, $event.target.checked)"
              name="publicar_categoria_altas" />
            <label [ngClass]="{'checked': data.flag, '': data.flag}" class="categoria " [for]="'publicar_categoria_'+data.codigo">{{data.email}}</label>
            <!-- <input type="checkbox" (change)="onChange(data.email, $event.target.checked)"> {{data.email}} -->
            <!-- 
              grp="17">
            <label class="categoria " for="publicar_categoria_altas">Altas</label>

            <input type="checkbox" class="chk_categoria" id="publicar_categoria_atencion-a-mujeres" name="publicar_categoria_atencion-a-mujeres">
            <label class="categoria" for="publicar_categoria_atencion-a-mujeres">Atención a mujeres</label>

            <input type="checkbox" class="chk_categoria" id="publicar_categoria_atencion-a-parejas" name="publicar_categoria_atencion-a-parejas">
            <label class="categoria" for="publicar_categoria_atencion-a-parejas">Atención a parejas</label> -->
          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">elige los distrito donde ofreces tus servicios</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small">Atiendes las 24hs?</label>
      <div class="col-sm-5" id="check_distrito">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="0" id="chk_24horas">
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="txt_descripcion_tarifa">Algo sobre tu
        disponibilidad</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="txt_descripcion_tarifa" rows="6" placeholder=""></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿Quieres hacer una aclaración sobre tus días y horarios?</p>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small">Lugar</label>
      <div class="col-sm-5" id="check_lugar_atencion">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿dónde atiendes a tus clientes?</p>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small">Servicios</label>
      <div class="col-sm-5" id="check_servicio_ofrece">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿Qué servicios ofreces? (Estén o no incluidos en tu tarifa estándar)</p>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 control-label control-label-small" for="tx_descripcion_extra_servicio">Descripcion</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="tx_descripcion_extra_servicio" rows="6" placeholder=""></textarea>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">¿Quieres hacer una aclaración o explicarte mejor?</p>
      </div>
    </div>

  </div>
  <div class="f1-buttons">
    <button type="button" class="btn-wizard btn-previous">
      volver y corregir</button>
    <button type="button" class="btn-wizard btn-next" id="btn_terceropaso">Guardar y
      Siguiente
    </button>
  </div>


  <!--Cuarta Seccion-->

</div>
