<!-- <div class="container-fluid">
  <div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
    <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
      <ngxMasonryItem *ngFor="let picture of masonryImages" class="masonry-item">
        <img src="{{picture.foto}}">
        <div class="icons-fichas">
          <span class="icons-fichas-info">
            <span class="fa fa-info"></span>
          </span>
          <span class="icons-fichas-player ">
            <span class="fa fa-play"></span>
          </span>
        </div>
        <a href="#" class="btn-small">{{picture.distrito}}</a>
        <a href="#" class="btn-small"> {{picture.edad}}</a>
        <a href="#" class="btn-small">{{picture.precio}}</a>
        <a href="#" class="btn-small">{{picture.pais}}</a>
        <p class="descripcion">
          {{picture.descripcion}}
        </p>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</div> -->
<!--  
  <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
  <h2 *ngIf="limit >= 100">No More Images</h2> -->
<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
  <div class="masonry">
    <div class="item" *ngFor="let item of masonryImages; let i = index">
      <img src="{{item.foto}}">
      <div class="icons-fichas">
        <span class="icons-fichas-info">
          <span class="fa fa-info"></span>
        </span>
        <span class="icons-fichas-player ">
          <span class="fa fa-play"></span>
        </span>
      </div>
      <a href="#" class="btn-small">{{item.distrito}}</a>
      <a href="#" class="btn-small"> {{item.edad}}</a>
      <a href="#" class="btn-small">{{item.precio}}</a>
      <a href="#" class="btn-small">{{item.pais}}</a>
      <p class="descripcion">
        {{item.descripcion}}
      </p>
    </div>
  </div>
</div>
