<!-- <div id="container-main">
  <h1>Mejores Jugadores Liga BBVA</h1>
</div> -->
<div class="container">
  <div class="accordion-container">
    <a (click)="toggleCollapseContactos()" class="accordion-titulo" [ngClass]="{'open': showDatosContactos, '': showDatosContactos}">Datos
      de
      Contacto:
      <span class="toggle-icon"></span>
    </a>
    <div class="accordion-content" [ngClass]="{'collapsed': showDatosContactos, 'uncollapsed': showDatosContactos}">
      <form [formGroup]='fromContacto' (ngSubmit)='save()' novalidate>
        <div class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_nombre">Nombre</label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" [formControl]="usernameCtrl" placeholder="Ingrese nombre">
              <div *ngIf="usernameCtrl.invalid && (usernameCtrl.dirty || isSubmitted)" class="text-danger">
                <div *ngIf="usernameCtrl.errors.required">
                  Se requiere el nombre.
                </div>
                <div *ngIf="usernameCtrl.errors.minlength">

                  El nombre debe tener al menos 4 caracteres.
                </div>
                <div *ngIf="usernameCtrl.errors.maxlength">
                  El nombre no debe exceder los 15 caracteres.
                </div>

              </div>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">el nombre que aparece en tu ficha</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_telefono_1">Teléfono
              o
              Celular</label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" rel="txtTooltip" title="**Your Title**" data-toggle="tooltip"
                type="text" id="txt_telefono_1" [formControl]="Telefono1Ctrl" placeholder="Ingrese Telefono 1">
              <div *ngIf="Telefono1Ctrl.invalid && (Telefono1Ctrl.dirty || isSubmitted)" class="text-danger">
                <div *ngIf="Telefono1Ctrl.errors.required">
                  Se necesita que se ingrese el numero del telefono.
                </div>
                <div *ngIf="Telefono1Ctrl.errors.pattern">
                  Número de telefono ingresado no es valido
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">tu teléfono de contacto</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_telefono_2">Teléfono o Celular</label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" [formControl]="Telefono2Ctrl" type="text" id="txt_telefono_2"
                placeholder="Ingrese Telefono 2">
              <div *ngIf="Telefono2Ctrl.invalid && (Telefono2Ctrl.dirty || isSubmitted)" class="text-danger">
                <div *ngIf="Telefono2Ctrl.errors.required">
                  Se necesita que se ingrese el numero del telefono.
                </div>
                <div *ngIf="Telefono2Ctrl.errors.pattern">
                  Número de telefono ingresado no es valido
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">otro teléfono de contacto</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_email">Email</label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" [formControl]="emailCtrl" placeholder="Ejemplo: brillit.coqueta@gmail.com">
              <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || isSubmitted)" class="text-danger">
                <div *ngIf="emailCtrl.errors.required">
                  Se necesita que se ingrese el email.
                </div>
                <div *ngIf="emailCtrl.errors.pattern">
                  Email ingresado no es valido
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="parrafo-alerta">
                IMPORTANTE !
                Tu dirección de email no será mostrada en el anuncio, pero debe ser válida para que poder contactarte.
                @*¿tienes email dónde contactarte?*@

              </p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_web">Web</label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" [formControl]="WebCtrl" placeholder="Ejemplo: https://www.google.com">
              <div *ngIf="WebCtrl.invalid && (WebCtrl.dirty || isSubmitted)" class="text-danger">
                <div *ngIf="WebCtrl.errors.pattern">
                  Url ingresada no es valido
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">la URL de tu web, si tienes</p>
            </div>
          </div>
        </div>
        <button type='submit' class='btn btn-primary'>Save</button>
      </form>
    </div>
  </div>

  <div class="accordion-container">
    <a (click)="toggleCollapseGenerales()" class="accordion-titulo" [ngClass]="{'open': showDatosGenerales, '': showDatosGenerales}">Datos
      Generales<span class="toggle-icon"></span></a>
    <div class="accordion-content" [ngClass]="{'collapsed': showDatosGenerales, 'uncollapsed': showDatosGenerales}">
      <div class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="cbo_edad">Edad</label>
          <div class="col-sm-5">
            <select class="form-control form-control-sm" [(ngModel)]="EdadId" (change)="selectName();">
              <option value="0">--Seleccione--</option>
              <option *ngFor="let data of ListEdad" value={{data.codigo}}>
                {{data.descripcion}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">elige tu edad</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="cbo_pais">País de origen</label>
          <div class="col-sm-5">
            <select class="form-control form-control-sm" [(ngModel)]="PaisId" (change)="selectName();">
              <option value="0">--Seleccione--</option>
              <option *ngFor="let data of ListPais" value={{data.codigo}}>
                {{data.descripcion}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">¿dónde te has criado?</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="cbo_estudios">Estudios</label>
          <div class="col-sm-5">
            <select class="form-control form-control-sm" [(ngModel)]="EstudioId" (change)="selectName();">
              <option value="0">--Seleccione--</option>
              <option *ngFor="let data of ListEstudios" value={{data.codigo}}>
                {{data.descripcion}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">nivel de estudios realizados</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_presentacion">Presentación</label>
          <div class="col-sm-5">
            <textarea class="form-control form-control-sm" id="txt_presentacion" rows="12" placeholder="Explica un poco más sobre ti, cómo eres, que te gusta, tus aficiones y habilidades...."></textarea>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">Explica un poco más sobre ti. Aquí puedes presentarte a los
              futuros clientes,
              descríbete un poco mejor, explica cómo eres, que te gusta, tus aficiones y habilidades. ¿Porqué deben
              llamarte? Cualquier otra cosa que creas es importante, esta es tu oportunidad!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-container">
    <a (click)="toggleCollapseApariencia()" class="accordion-titulo" [ngClass]="{'open': showApariencia, '': showApariencia}">Apariencia<span
        class="toggle-icon"></span></a>
    <div class="accordion-content" [ngClass]="{'collapsed': showApariencia, 'uncollapsed': showApariencia}">
      <form [formGroup]='fromApariencia' (ngSubmit)='saveApariencia()' novalidate>
        <div class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="cbo_pelo">color de pelo</label>
            <div class="col-sm-5">
              <!-- <select class="form-control form-control-sm" [(ngModel)]="userInfo.codigo" (change)="selectName();">
                <option value="0">--Seleccione--</option>
                <option *ngFor="let data of ListCabellos" value={{data.codigo}}>
                  {{data.descripcion}}
                </option>
              </select> -->
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">el color de tu pelo</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="cbo_ojos">color de ojos</label>
            <div class="col-sm-5">
              <!-- <select class="form-control form-control-sm" [(ngModel)]="OjosId" (change)="selectName();">
                <option value="0">--Seleccione--</option>
                <option *ngFor="let data of ListOjos" value={{data.codigo}}>
                  {{data.descripcion}}
                </option>
              </select> -->
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">el color de tus ojos</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="cbo_estatura">estatura</label>
            <div class="col-sm-5">
              <!-- <select class="form-control form-control-sm" [(ngModel)]="EstaturaId" (change)="selectName();">
                <option value="0">--Seleccione--</option>
                <option *ngFor="let data of ListEstatura" value={{data.codigo}}>
                  {{data.descripcion}}
                </option>
              </select> -->
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">¿cual es tu altura en centímetros?</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="cbo_peso">peso</label>
            <div class="col-sm-5">
              <!-- <select class="form-control form-control-sm" [(ngModel)]="PesoId" (change)="selectName();">
                <option value="0">--Seleccione--</option>
                <option *ngFor="let data of ListPeso" value={{data.codigo}}>
                  {{data.descripcion}}
                </option>
              </select> -->
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">¿cual es tu peso en Kg?</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="cbo_estudios">Medidas (Busto-Cintura-Caderas)</label>
            <div class="col-sm-5" style="display: inline-flex;">
              <input class="form-control form-control-sm" maxlength="3" OnlyNumber="true" [formControl]="bustoCtrl"
                type="text" id="txt_medidas_busto" placeholder="busto">-
              <input class="form-control form-control-sm" maxlength="3" type="text" OnlyNumber="true" id="txt_medidas_cintura"
                placeholder="cintura">-
              <input class="form-control form-control-sm" maxlength="3" type="text" OnlyNumber="true" id="txt_medidas_cadera"
                placeholder="cadera">

              <div *ngIf="bustoCtrl.invalid && (bustoCtrl.dirty || isSubmittedApariencia)" class="text-danger">
                <div *ngIf="bustoCtrl.errors.required">
                  Se requiere que se ingrese busto.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">¿Cuales son tus medidas?</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label text-right " for="txt_descripcion">Descripción</label>
            <div class="col-sm-5">
              <textarea class="form-control" maxlength="450" id="txt_descripcion" rows="6" placeholder=""></textarea>
            </div>
            <div class="col-sm-4">
              <p class="form-control-static">Si quieres explicar algun otro dato relevante sobre tu apariencia física
                aquí
                puedes describirte mejor.</p>
            </div>
          </div>
        </div>
        <button type='submit' class='btn btn-primary'>Save</button>
      </form>
    </div>
  </div>

  <div class="accordion-container">
    <a (click)="toggleCollapseTarifa()" class="accordion-titulo" [ngClass]="{'open': showTarifa, '': showTarifa}">Tarifas:<span
        class="toggle-icon"></span></a>
    <div class="accordion-content" [ngClass]="{'collapsed': showTarifa, 'uncollapsed': showTarifa}">
      <div class="form-horizontal">

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_30_min">30 Minutos</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_30_min" placeholder="" value="0">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_45_min">45 Minutos</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_45_min" value="0">
          </div>

        </div>


        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_1_hora">1 Hora</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_1_hora" value="0">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_1_30_hora">1 Hora y media</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_1_30_hora" value="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_2_hora">2 Horas</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_2_hora" value="0">
          </div>

        </div>


        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_3_hora">3 Horas</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_3_hora" value="0">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_salida_hora">Salidas</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_salida_hora" value="0">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_toda_noche">Toda la noche</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_toda_noche" value="0">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_viajes">Viajes</label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" id="txt_viajes" value="0">
          </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_viajes">Forma de Pago</label>
          <div class="col-sm-5" id="check_forma_pago">
            <div class="categorias-anuncio">
              <div class="tc_valores" *ngFor="let data of ListFormaPago">
                <input type="checkbox" class="chk_categoria" [id]="'check_formapago_'+data.codigo" (change)="onChangeFormaPago(data.codigo, $event.target.checked)"
                  name="publicar_categoria_altas" />
                <label [ngClass]="{'checked': data.flag, '': data.flag}" class="categoria " [for]="'check_formapago_'+data.codigo">{{data.descripcion}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_descripcion_tarifa">Descripción</label>
          <div class="col-sm-5">
            <textarea class="form-control" id="txt_descripcion_tarifa" rows="6" placeholder=""></textarea>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">Si necesitas aclarar algun otro aspecto sobre tus tarifas escríbelo aquí.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-container">
    <a (click)="toggleCollapseServicios()" class="accordion-titulo" [ngClass]="{'open': showServicios, '': showServicios}">Servicios<span
        class="toggle-icon"></span></a>
    <div class="accordion-content" [ngClass]="{'collapsed': showServicios, 'uncollapsed': showServicios}">
      <div class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right ">Distrito</label>
          <div class="col-sm-5">
            <div class="categorias-anuncio">
              <div class="tc_valores" *ngFor="let data of ListDistrito">
                <input type="checkbox" class="chk_categoria" [id]="'check_distrito_'+data.codigo" (change)="onChangeDistrito(data.codigo, $event.target.checked)"
                  name="publicar_categoria_altas" />
                <label [ngClass]="{'checked': data.flag, '': data.flag}" class="categoria " [for]="'check_distrito_'+data.codigo">{{data.descripcion}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">elige los distrito donde ofreces tus servicios</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right ">Atiendes las 24hs?</label>
          <div class="col-sm-5" id="check_distrito">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="0" id="chk_24horas">
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="txt_descripcion_tarifa">Algo sobre tu
            disponibilidad</label>
          <div class="col-sm-5">
            <textarea class="form-control" id="txt_descripcion_tarifa" rows="6" placeholder=""></textarea>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">¿Quieres hacer una aclaración sobre tus días y horarios?</p>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-3 control-label text-right ">Lugar</label>
          <div class="col-sm-5">
            <div class="categorias-anuncio">
              <div class="tc_valores" *ngFor="let data of ListLugarAtencion">
                <input type="checkbox" class="chk_categoria" [id]="'check_lugarAtencion_'+data.codigo" (change)="onChangeLugarAtencion(data.codigo, $event.target.checked)"
                  name="publicar_categoria_altas" />
                <label [ngClass]="{'checked': data.flag, '': data.flag}" class="categoria " [for]="'check_lugarAtencion_'+data.codigo">{{data.descripcion}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">¿dónde atiendes a tus clientes?</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right ">Servicios</label>
          <div class="col-sm-5" id="check_servicio_ofrece">
            <div class="categorias-anuncio">
              <div class="tc_valores" *ngFor="let data of ListTipoServicio">
                <input type="checkbox" class="chk_categoria" [id]="'check_tiposervicios_'+data.codigo" (change)="onChangeTipoServicio(data.codigo, $event.target.checked)"
                  name="publicar_categoria_altas" />
                <label [ngClass]="{'checked': data.flag, '': data.flag}" class="categoria " [for]="'check_tiposervicios_'+data.codigo">{{data.descripcion}}</label>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">¿Qué servicios ofreces? (Estén o no incluidos en tu tarifa estándar)</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label text-right " for="tx_descripcion_extra_servicio">Descripción</label>
          <div class="col-sm-5">
            <textarea class="form-control" id="tx_descripcion_extra_servicio" rows="6" placeholder=""></textarea>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static">¿Quieres hacer una aclaración o explicarte mejor?</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
