.container {
  background: white;
  padding: 10px 15px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

h4 {
  /* font-family: Noto serif; */
  font-family: Arial, Helvetica, sans-serif;
  color: #00a1b2;
  font-weight: bold;
  font-size: 22px;
}

label {
  /* font-family: Noto serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

p {
  /* font-family: Noto serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.categorias-anuncio label {
  text-align: left;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  cursor: pointer;
}

.categorias-anuncio .categoria {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #E8E8E8;
  color: #303030;
  line-height: 15px;
  font-size: 12px;
  height: auto;
  width: 21.7%;
  padding: 0.5% 1%;
  margin: 0.5%;
  width: calc(32% - 1%);
  padding: calc(9px) calc(8px) calc(8px) calc(8px);
  margin: calc(4px);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.categorias-anuncio label.checked,
.categorias-anuncio span.checked {
  color: white;
  background-color: #0072C6;
}


.categorias-anuncio .tc_valores {
  display: inline;
}

.categorias-anuncio input {
  height: 0;
  width: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}


/* #container-main {
  margin: 40px auto;
  width: 95%;
  min-width: 320px;
  max-width: 960px;
}

#container-main h1 {
  font-size: 40px;
  text-shadow: 4px 4px 5px #16a085;
} */

.accordion-container {
  width: 100%;
  margin: 0 0 20px;
  clear: both;
}

.accordion-container a {
  color: white;
}

.accordion-titulo {
  position: relative;
  display: block;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
  background: #2c3e50;
  color: #fff;
  text-decoration: none;
}

.accordion-titulo.open {
  background: #16a085;
  color: #fff;
}

.accordion-titulo:hover {
  background: #1abc9c;
}

.accordion-titulo span.toggle-icon:before {
  content: "+";
}

.accordion-titulo.open span.toggle-icon:before {
  content: "-";
}

.accordion-titulo span.toggle-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 38px;
  font-weight: bold;
}

.accordion-content {
  display: none;
  padding: 20px;
  overflow: auto;
}

.accordion-content p {
  margin: 0;
}

.accordion-content img {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 50%;
  height: auto;
}

.uncollapsed {
  animation: 1s ease;
  opacity: 1;
  display: none;
}

.collapsed {
  display: block;
  -webkit-animation: fadeInDown .6s;
  animation: fadeInDown .6s;
}

.parrafo-alerta {
  color: #e00e0e;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .accordion-content {
    padding: 10px 3px;
  }
}

.text-danger {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

@media (min-width: 412px) and (max-width: 558px) {
  .text-right {
    text-align: left !important;
  }

  .categorias-anuncio .categoria {
    line-height: 5px;
    font-size: 10px;
    width: auto;
    padding: calc(9px) calc(8px) calc(8px) calc(8px);
    margin: calc(4px);
  }
}
